body {
  background-color: #f8f8f8;
  color: #333;
}
h1 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h1 a {
  color: inherit;
}
h2 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h2 a {
  color: inherit;
}
h3 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h3 a {
  color: inherit;
}
h4 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h4 a {
  color: inherit;
}
h5 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h5 a {
  color: inherit;
}
h6 {
  padding-bottom: 0.25em;
  font-weight: normal;
  color: #000;
}
h6 a {
  color: inherit;
}
#co_page {
  position: relative;
  z-index: 1;
}
.co_content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* section */
.co_section-depth-1 {
  padding: 3em 0;
  background-color: #a1b1c4;
}
.co_section-depth-2 {
  padding-top: 6em;
}
.co_section-h1 {
  font-size: 4.8em;
  color: #fff;
  line-height: 1;
}
.co_section-h1 strong {
  font-size: 0.25em;
  color: inherit;
}
.co_section-h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #c7d0dc;
  font-size: 3.6em;
  color: #44638a;
}
.co_section-h3 {
  font-size: 2.1em;
}
.co_section-h4 {
  font-size: 1.8em;
}
.co_section-description {
  max-width: 40em;
}
.co_section-description > p,
.co_section-description > ul {
  padding-bottom: 16px;
}
.co_section-description > ul > li {
  list-style-position: inside;
}
.co_section-ref {
  display: block;
  color: #666;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.co_section-ref:before {
  content: 'section ';
}
/* colors */
.co_colors {
  padding: 0;
  margin: 0;
  list-style: none;
}
.co_colors > li {
  float: left;
  width: 16em;
  padding: 0.25em;
  margin: 0 1em 1em 0;
  border-radius: 0.25em;
}
.co_colors-demo {
  width: 100%;
  height: 6em;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
}
.co_colors-name,
.co_colors-hex {
  margin-top: 0;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
}
.co_colors-name {
  margin-bottom: 0.25em;
}
.co_colors-hex {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #44638a;
}
/* icons */
.co_icons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.co_icons > li {
  float: left;
  width: 8em;
  padding: 1em 0.25em 0.25em;
  margin: 0 1em 1em 0;
  border-radius: 0.25em;
  text-align: center;
}
.co_icons-demo {
  display: block;
  height: 1.5em;
  padding: 0.25em;
  margin-bottom: 0.25em;
  font-size: 3em;
  line-height: 1.5em;
  font-family: '20mn';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.co_icons-name {
  display: block;
  border-radius: 0.25em;
  background-color: #f1f1f1;
  color: #000;
}
/* example */
.co_example-header {
  color: #000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-style: italic;
}
/* markup */
.co_markup {
  border: 1px solid #c7d0dc;
}
.co_markup-content {
  display: none;
  font-size: 1em;
  line-height: 1.2;
}
.co_markup-view {
  background-color: #a1b1c4;
}
.co_markup-view button {
  width: 100%;
  padding: 0.25em 0.5em;
/*margin .6rem 0*/
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.co_markup-view button:after {
  content: '<>';
  padding-left: 0.6rem;
  color: #0091aa;
  font-size: 1.5em;
}
/* source */
.co_source {
  font-size: 0.9em;
}
/* footer */
.co_footer {
  border-color: #c7d0dc;
  background-color: #44638a;
}
/* prettyprint.js */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}
.str {
  color: #080;
}
.kwd {
  color: #008;
}
.com {
  color: #800;
}
.typ {
  color: #606;
}
.lit {
  color: #066;
}
/* punctuation, lisp open bracket, lisp close bracket */
.pun,
.opn,
.clo {
  color: #660;
}
.tag {
  color: #008;
}
.atn {
  color: #606;
}
.atv {
  color: #080;
}
.dec,
.var {
  color: #606;
}
.fun {
  color: #f00;
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  list-style-type: none;
}
