.co {
  background-color: #f8f8f8;
  color: #333;
/* trigger sidebar */
/* sidebar */
/* section */
/* subsection */
/* modifier */
/* colors */
/* icons */
/* example */
/* expand markup */
/* table */
/* grid examples */
/* markup */
/* source */
/* footer */
}
.co_markup pre,
.co_section-home pre,
.co_subsection pre {
  padding: 1em;
  margin: 0 0 1.6rem;
  border-radius: 0.25em;
  border: 1px solid #c7d0dc;
  background-color: #fff;
  font-size: 1em;
  line-height: 1.2;
}
@media screen and (min-width: 960px) and (max-width: 1503px) {
  .co_wrapper {
    padding-left: 24rem;
  }
}
.co_page {
  position: relative;
  z-index: 1;
}
.co_content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.2em;
}
.co_section-home h1,
.co_section-h1 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h1 a,
.co_section-h1 a {
  color: inherit;
}
.co_section-home h1 a:hover,
.co_section-h1 a:hover {
  color: #44638a;
}
.co_section-home h1 a:hover strong,
.co_section-h1 a:hover strong {
  color: inherit;
}
.co_section-home h2,
.co_section-h2 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h2 a,
.co_section-h2 a {
  color: inherit;
}
.co_section-home h2 a:hover,
.co_section-h2 a:hover {
  color: #44638a;
}
.co_section-home h2 a:hover strong,
.co_section-h2 a:hover strong {
  color: inherit;
}
.co_section-home h3,
.co_section-h3 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h3 a,
.co_section-h3 a {
  color: inherit;
}
.co_section-home h3 a:hover,
.co_section-h3 a:hover {
  color: #44638a;
}
.co_section-home h3 a:hover strong,
.co_section-h3 a:hover strong {
  color: inherit;
}
.co_section-home h4,
.co_section-h4 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h4 a,
.co_section-h4 a {
  color: inherit;
}
.co_section-home h4 a:hover,
.co_section-h4 a:hover {
  color: #44638a;
}
.co_section-home h4 a:hover strong,
.co_section-h4 a:hover strong {
  color: inherit;
}
.co_section-home h5,
.co_section-h5 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h5 a,
.co_section-h5 a {
  color: inherit;
}
.co_section-home h5 a:hover,
.co_section-h5 a:hover {
  color: #44638a;
}
.co_section-home h5 a:hover strong,
.co_section-h5 a:hover strong {
  color: inherit;
}
.co_section-home h6,
.co_section-h6 {
  padding: 0 0 0.25em;
  margin: 0 auto;
  font-weight: normal;
  color: #000;
}
.co_section-home h6 a,
.co_section-h6 a {
  color: inherit;
}
.co_section-home h6 a:hover,
.co_section-h6 a:hover {
  color: #44638a;
}
.co_section-home h6 a:hover strong,
.co_section-h6 a:hover strong {
  color: inherit;
}
.co_trigger-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #3b4b5e;
/* brand */
}
.co_trigger-sidebar svg {
  fill: #fff;
}
.co_trigger-sidebar-animated {
  transition: all 0.15s ease-in-out;
}
.co_trigger-sidebar-pinned {
  transform: translateY(0%);
}
.co_trigger-sidebar-unpinned {
  transform: translateY(-100%);
}
.co_trigger-sidebar .co_brand {
  background-color: transparent;
  color: #44638a;
  font-size: 2.7em;
}
@media screen and (min-width: 960px) {
  .co_trigger-sidebar {
    display: none;
  }
}
.co_sidebar {
  position: fixed;
  z-index: 7;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 0;
  width: 24rem;
  background-color: #fff;
  box-shadow: 2px 0px 4px -2px #000;
  overflow: hidden;
  transition: transform 0.2s;
}
@media screen and (max-width: 959px) {
  .co_sidebar {
    transform: translateX(-100%);
  }
}
.co_sidebar li {
  list-style: none;
}
.co_sidebar a {
  display: block;
  padding: 0.75em 1.5em;
  background-color: rgba(199,208,220,0);
  transition: background-color 0.3s;
}
.co_sidebar a:hover {
  background-color: rgba(199,208,220,0.4);
}
.co_sidebar:hover {
  overflow-y: scroll;
}
.co_sidebar-children {
  padding-left: 0;
  display: none;
}
.co_sidebar-children li a {
  padding-left: 3em;
}
.co_sidebar-active > a {
  color: #c36;
}
.co_sidebar-active ul {
  display: block;
}
.co_sidebar-brand a {
  position: relative;
  height: calc(6rem + 1.5em);
}
.co_sidebar-brand a:hover {
  background-color: transparent;
}
.co_sidebar-brand svg {
  position: absolute;
  left: 12rem;
  width: 6rem;
  height: 6rem;
  fill: #44638a;
  transform: translateX(-50%);
/* a bit heavy to center the logo, but this prevents from blinking when we get the scroll bar on hover */
}
.co_section-depth-1 {
  padding: 3em 0;
  background-color: #3b4b5e;
  color: #fff;
}
.co_section-depth-1 a {
  color: #fff;
  text-decoration: underline;
}
.co_section-depth-1 a:hover {
  text-decoration: none;
}
.co_section-depth-2 {
  padding-top: 9em;
}
.co_section-depth-3 {
  padding-top: 6em;
}
.co_section-depth-4 {
  padding-top: 4em;
}
.co_section-h1 {
  font-size: 4.8em;
  color: #fff;
  line-height: 1;
}
.co_section-h1 strong {
  font-size: 0.25em;
  color: inherit;
}
.co_section-h2,
.co_section-home h1 {
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #c7d0dc;
  font-size: 3.6em;
  color: #44638a;
}
.co_section-h3,
.co_section-home h2 {
  font-size: 2.1em;
}
.co_section-h4 {
  font-size: 1.8em;
}
.co_section-ref {
  display: block;
  color: #666;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.co_section-ref:before {
  content: 'section ';
}
.co_subsection {
  padding: 0.5em 0;
}
.co_subsection-title {
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 48em) {
  .co_subsection-title {
    padding-right: 1.5em;
    text-align: right;
  }
}
.co_subsection-content {
  margin: 0;
}
.co_subsection-content > p,
.co_subsection-content > ul {
  margin: 0;
  padding-bottom: 1.6rem;
}
.co_subsection-content > ul > li {
  margin-left: 1em;
}
.co_subsection-content p > code {
  padding: 0.05em 0.25em;
  background-color: #e0e5eb;
  color: #c36;
}
.co_subsection-demo {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #c7d0dc;
}
.co_modifier > p {
  padding-bottom: 0;
}
.co_colors {
  padding: 0;
  margin: 0;
  list-style: none;
}
.co_colors > li {
  float: left;
  width: 16em;
  padding: 0.25em;
  margin: 0 1em 1em 0;
  border-radius: 0.25em;
}
.co_colors-demo {
  width: 100%;
  height: 6em;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
}
.co_colors-name,
.co_colors-hex {
  margin-top: 0;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
}
.co_colors-name {
  margin-bottom: 0.25em;
}
.co_colors-hex {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #44638a;
}
.co_icons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.co_icons > li {
  float: left;
  width: 8em;
  padding: 1em 0.25em 0.25em;
  margin: 0 1em 1em 0;
  border-radius: 0.25em;
  text-align: center;
}
.co_icons-demo {
  display: block;
  height: 1.5em;
  padding: 0.25em;
  margin-bottom: 0.25em;
  font-size: 3em;
  line-height: 1.5em;
  font-family: '20mn';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.co_icons-name {
  display: block;
  border-radius: 0.25em;
  background-color: #f1f1f1;
  color: #000;
}
.co_example-header {
  color: #000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-style: italic;
}
.co_expand {
  position: absolute;
  z-index: 2;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 0.25em;
  background: linear-gradient(to top, #fff, rgba(255,255,255,0.25));
}
.co_expand .btn {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 50%;
  background-color: rgba(68,99,138,0.25);
  color: #fff;
  font-size: 0.7em;
  transform: translateX(-50%);
  transition: background-color 0.2s;
}
.co_table {
  width: 100%;
  background-color: #fff;
}
.co_table thead tr {
  background-color: #44638a;
}
.co_table tbody tr:nth-child(2n + 1) {
  background-color: rgba(68,99,138,0.2);
}
.co_grid-demo {
  padding-bottom: 2em;
}
.co_grid-demo [class^=col-]:not(.clearfix) {
  padding: 1em;
  border-top: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  background-color: rgba(68,99,138,0.2);
  text-align: center;
}
.co_markup {
  position: relative;
/* prettyprint.js */
/* SPAN elements with the classes below are added by prettyprint. */
/* punctuation, lisp open bracket, lisp close bracket */
/* Use higher contrast and text-weight for printable form. */
/* Specify class=linenums on a pre to get line numbering */
}
.co_markup pre {
  position: relative;
  z-index: 1;
  max-height: 4em;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.co_markup:hover {
  cursor: pointer;
}
.co_markup:hover .btn {
  display: block;
  background-color: #44638a;
}
.co_markup-action {
  display: none;
}
.co_markup-expanded:hover .btn {
  display: block;
}
.co_markup-expanded pre {
  max-height: 100em;
}
.co_markup-expanded pre:after {
  display: none;
}
.co_markup-expanded .btn {
  display: none;
}
.co_markup-expanded .co_expand {
  background: none;
}
.co_markup .pln {
  color: #000;
}
.co_markup .str {
  color: #080;
}
.co_markup .kwd {
  color: #008;
}
.co_markup .com {
  color: #800;
}
.co_markup .typ {
  color: #606;
}
.co_markup .lit {
  color: #066;
}
.co_markup .pun,
.co_markup .opn,
.co_markup .clo {
  color: #660;
}
.co_markup .tag {
  color: #008;
}
.co_markup .atn {
  color: #606;
}
.co_markup .atv {
  color: #080;
}
.co_markup .dec,
.co_markup .var {
  color: #606;
}
.co_markup .fun {
  color: #f00;
}
@media print, projection {
  .co_markup .str {
    color: #060;
  }
  .co_markup .kwd {
    color: #006;
    font-weight: bold;
  }
  .co_markup .com {
    color: #600;
    font-style: italic;
  }
  .co_markup .typ {
    color: #404;
    font-weight: bold;
  }
  .co_markup .lit {
    color: #044;
  }
  .co_markup .pun,
  .co_markup .opn,
  .co_markup .clo {
    color: #440;
  }
  .co_markup .tag {
    color: #006;
    font-weight: bold;
  }
  .co_markup .atn {
    color: #404;
  }
  .co_markup .atv {
    color: #060;
  }
}
.co_markup ol.linenums {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.co_source {
  color: #c36;
  font-size: 0.9em;
}
.co_footer.footer {
  border-color: #c7d0dc;
  background-color: #44638a;
}
