// @blocks: Text elements
//
// Styleguide @blocks.Text

// {fontSecondary}
//
// Assigns the properties of the `.font-secondary` class to an element.
//
// **Usage**
// ```
// /* my_file.styl */
// .foo
//     {fontSecondary}
// ```
// will compile to
// ```
// /* my_file.css */
// .foo
//    font-family $fontstack-secondary
//    font-weight bold
//    font-size 1.1rem
//    text-transform uppercase
// ```
//
// Styleguide @blocks.Text.fontSecondary
fontSecondary = @block
    _fontload($fontstack-secondary)
    font-weight bold
    font-size _rem(11px)
    text-transform uppercase

// {listPosOutside}
//
// Override the default positionning of the `list-style-position: outside`.
//
// **Usage**
// ```
// /* my_file.styl */
// .foo
//     {listPosOutside}
// ```
// will compile to
// ```
// /* my_file.css */
// .foo
//    &
//    li
//        list-style-position inside
//        padding-left 1em
//        text-indent -1em
// ```
//
// Styleguide @blocks.Text.listPosOutside
listPosOutside = @block
    &
    li
        list-style-position inside
        padding-left 1em
        text-indent -1em


