$co-color-primary = #44638a
$co-color-secondary = #000000 /* darkest color */
$co-color-tertiary = #ffffff /* lightest color */
$co-color-highlight = #cc3366
$co-color-borders = #c7d0dc
$co-color-background = #a1b1c4

body
    background-color #f8f8f8
    color #333333

for i in 1..6
    h{i}
        padding-bottom .25em
        font-weight normal
        color $co-color-secondary

        a
            color inherit

            &:hover
                color $co-color-primary

                strong
                    color inherit

pre
    padding 1em
    margin-bottom 1.6rem
    border 1px solid $co-color-borders
    background-color $co-color-tertiary
    font-size 1em
    line-height 1.2

#co_wrapper
    //

#co_page
    position relative
    z-index 1

.co_content
    width 100%
    max-width 1024px
    margin 0 auto

.co_brand
    background-color transparent
    color $co-color-primary
    font-size 2.7em

/* section */
.co_section
    /* home */
    /* sections */
    &-depth-1
        padding 3em 0
        background-color darken($co-color-background, 40)

    &-depth-2
        padding-top 9em

    &-depth-3
        padding-top 6em

    &-depth-4
        padding-top 4em

    /* headings */
    &-h1
        font-size 4.8em
        color $co-color-tertiary
        line-height 1

        strong
            font-size .25em
            color inherit

    &-h2
    &-home h1
        margin-bottom 1em
        border-bottom 1px solid $co-color-borders
        font-size 3.6em
        color $co-color-primary

    &-h3
    &-home h2
        font-size 2.1em

    &-h4
        font-size 1.8em

    &-ref
        display block
        color #666666
        font-size 1.2rem
        text-transform uppercase

        &:before
            content 'section '

/* subsection */
.co_subsection
    padding .5em 0

    &-title
        font-weight bold

        @media screen and (min-width: 48em)
            padding-right 1.5em
            text-align right

    &-content
        > p
        > ul
            padding-bottom 1.6rem

        > ul > li
            margin-left 1em

        p > code
            padding 0.05em .25em
            background-color lighten($co-color-background, 20)
            color $co-color-highlight

/* modifier */
.co_modifier
    > p
        padding-bottom 0

    &-example
        margin-top .6rem
        padding-bottom .6rem
        border-bottom 1px solid $co-color-borders

/* colors */
.co_colors
    padding 0
    margin 0
    list-style none

    > li
        float left
        width 16em
        padding .25em
        margin 0 1em 1em 0
        border-radius .25em

    &-demo
        width 100%
        height 6em
        margin-bottom .25em
        border-radius .25em

    &-name
    &-hex
        margin-top 0
        background-color #f1f1f1
        color $co-color-secondary
        text-align center

    &-name
        margin-bottom .25em

    &-hex
        font-size .9em
        text-transform uppercase
        color $co-color-primary

/* icons */
.co_icons
    padding 0
    margin 0
    list-style none

    > li 
        float left
        width 8em
        padding 1em .25em .25em
        margin 0 1em 1em 0
        border-radius .25em
        text-align center


    &-demo
        display block
        height 1.5em
        padding .25em
        margin-bottom .25em
        font-size 3em
        line-height @height

        // lib/icon
        font-family '20mn'
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1

        // Better Font Rendering
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

    &-name
        display block
        border-radius .25em
        background-color #f1f1f1
        color $co-color-secondary

/* example */
.co_example-header
    color $co-color-secondary
    font-family 'Open Sans'
    font-size 1.5em
    font-style italic

/* markup */
.co_markup
    position relative

    button
        position absolute
        z-index 2
        top 50%
        left 50%
        margin 0 auto
        background-color rgba($co-color-secondary, .75)
        color $co-color-tertiary
        font-size .7em
        transform translate(-50%, -50%)
        transition background-color .2s

        &:hover
            background-color $co-color-secondary

    pre
        position relative
        z-index 1
        max-height 4em
        margin-bottom 0
        overflow hidden

        &:after
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            height 100%
            background linear-gradient(to top, $co-color-tertiary, rgba($co-color-tertiary, 0.25))

/* source */
.co_source
    color $co-color-highlight
    font-size 0.9em

/* footer */
.co_footer
    border-color $co-color-borders
    background-color $co-color-primary

/* prettyprint.js */
/* SPAN elements with the classes below are added by prettyprint. */
.pln  
    color #000   /* plain text */

.str  
    color #080   /* string content */

.kwd  
    color #008   /* a keyword */

.com  
    color #800   /* a comment */

.typ  
    color #606   /* a type name */

.lit  
    color #066   /* a literal value */

/* punctuation, lisp open bracket, lisp close bracket */
.pun, 
.opn, 
.clo  
    color #660 

.tag  
    color #008   /* a markup tag name */

.atn  
    color #606   /* a markup attribute name */

.atv  
    color #080   /* a markup attribute value */

.dec, 
.var  
    color #606   /* a declaration a variable name */

.fun  
    color red   /* a function name */

/* Use higher contrast and text-weight for printable form. */
@media print, projection 
    .str  
        color #060 


    .kwd  
        color #006 
        font-weight bold 

    .com  
        color #600 
        font-style italic 

    .typ  
        color #404 
        font-weight bold 

    .lit  
        color #044 

    .pun, 
    .opn, 
    .clo  
        color #440 

    .tag  
        color #006 
        font-weight bold 

    .atn  
        color #404 

    .atv  
        color #060 

/* Specify class=linenums on a pre to get line numbering */
ol.linenums
    list-style-type none
