// Loading
//
// Used by [loading block](section--blocks.html#kssref--blocks-block-loading)
// Live demo with [Loading element](section-elements.html#kssref-elements-loading)
//
// Styleguide: Animations.loading
@keyframes loadingAnimation
    0%
        box-shadow -2em 2em 0 -.6em currentColor, 0 2em 0 -.6em currentColor, 2em 2em 0 -.6em currentColor
    15%
        box-shadow -2em 2em 0 0 currentColor, 0 2em 0 -.6em currentColor, 2em 2em 0 -.6em currentColor
    30%
        box-shadow -2em 2em 0 -.2em currentColor, 0 2em 0 0 currentColor, 2em 2em 0 -.6em currentColor
    45%
        box-shadow -2em 2em 0 -.4em currentColor, 0 2em 0 -.2em currentColor, 2em 2em 0 0 currentColor
    60%
        box-shadow -2em 2em 0 -.6em currentColor, 0 2em 0 -.4em currentColor, 2em 2em 0 -.2em currentColor
    75%
        box-shadow -2em 2em 0 -.6em currentColor, 0 2em 0 -.6em currentColor, 2em 2em 0 -.4em currentColor
    100%
        box-shadow -2em 2em 0 -.6em currentColor, 0 2em 0 -.6em currentColor, 2em 2em 0 -.6em currentColor
