<article class="box {{ modifier_class }}">
    <figure class="media">
        <div><img src="http://img.20mn.fr/gmiJ0COJRYqUQM6w1jeBlw/648x415_20mn-11765.jpg" alt="This is an image" /></div>
    </figure>
    <div class="teaser">
        <p class="teaser-headline color-default">Label</p>
        <p class="teaser-title">This is the content title</p>
        <p class="teaser-summary">This is the summary lorm ipsum sic amet color baba orum.</p>
    </div>
    <p class="box-counter pa1">Counters line</p>
    <p class="box-footer pa1">Footer line</p>
</article>

