// Settings
//
// Weight: 10
//
// Styleguide: Settings
@require '_settings'

// Basics
//
// Weight: 1
//
// Styleguide: Basics
@require '_base/*'

// Layout
//
// Weight: 2
//
// Styleguide: Layout
@require '_layout/*'

// Components
//
// Weight: 3
//
// Styleguide: Components
@require '_modules/*'

// Theme
//
// TODO <br />
// [Issue #47](https://github.com/20minutes/colette/issues/47): Split 'layout/' directory into 'layout' and 'theme/'.
//
// Weight: 4
//
// Styleguide: Theme

// Helpers
//
// TODO <br />
// [Issue #53](https://github.com/20minutes/colette/issues/53): Move helper classes into a specific folder.
//
// Weight: 5
//
// Styleguide: Helpers
