
// Text alignment
//
// Text alignement classes.
//
// .align-right      - right-aligned text
// .align-left       - left-aligned text
// .align-center     - centered text
// .align-justify    - justified text
//
// Markup: helpers-align.twig
//
// Styleguide Helpers.Alignment
.align-center
    text-align center

.align-left
    text-align left

.align-right
    text-align right

.align-justify
    text-align justify
