// Helpers: Block elements
//
// Block elements helpers.
//
// Weight: 12
//
// Styleguide Helpers.BlockElements

// Floating blocks
//
// - **.float-left**:   float left
// - **.float-right**:  float right
// - **.clear**:        clear both
// - **.clearfix**:     clear floats (must be applied on the parent container)
//
// **Usage examples**
// ```html
// /* example 1 */
// <div class="clearfix">
//   <p class="float-right">…</p>
//   <p class="float-left">…</p>
//   <!-- `.clear` class will break floating -->
// </div>
//
// /* example 2 */
// <p class="float-right">…</p>
// <p class="float-left">…</p>
// <p class="clear">`.clear` class will break floating</p>
// ```
//
// Styleguide Helpers.BlockElements.Floats
.float-left
    float left!important // @stylint ignore

.float-right
    float right!important // @stylint ignore

.clear
    clear both

.clearfix
    {clearfix}

// Inline blocks
//
// - **.inline**:       display inline of a block or a list
// - **.inline-block**: display inline-block
//
// **Usage example**
// ```html
// <ul class="inline">
//   <!-- Applied on a list, .inline class will make all list-item display inline -->
//   <li>…</li>
//   <li>…</li>
// </ul>
//
// <p class="inline-block">…</p>
// ```
//
// Styleguide Helpers.BlockElements.Inline
.inline
    {inlined}

.inline-block
    display inline-block

// Hidden blocks
//
// - **.hidden**:       display none
// - **.vsb-hidden**:   visibility hidden
//
// **Usage example**
// ```html
// <p class="hidden">…</p>
// <p class="vsb-hidden">…</p>
// ```
//
// Styleguide Helpers.BlockElements.Hide
.hidden
    display none

.vsb-hidden
    visibility hidden

// Full width blocks
//
// - **.full-width**:   makes an element stretch full width of its parent container
// - **.responsive**:   same as .full-width [deprecated]
//
// **Usage example**
// ```html
// <div>
//   <img class="responsive" src="…" />
//   <!-- image will be full width, with height auto -->
// </div>
// ```
//
// Styleguide Helpers.BlockElements.FullWidth
.full-width
.responsive
    {fullWidth}
