// Helpers: Block elements
//
// Some default classes are available for block elements:
//
// - **.float-left**:   float left
// - **.float-right**:  float right
// - **.clearfix**:     clear floats (must be applied on the parent container)
// - **.inline**:       display inline of a block or a list
// - **.inline-block**: display inline-block
// - **.hidden**:       display none
// - **.vsb-hidden**:   visibility hidden
//
// Weight: 12
//
// Markup: helpers-block.twig
//
// Styleguide Helpers.BlockElements
.inline
    {inlined}

.inline-block
    display inline-block

.hidden
    display none

.vsb-hidden
    visibility hidden

.float-left
    float left!important // @stylint ignore

.float-right
    float right!important // @stylint ignore

.clear
    clear both

.clearfix
    {clearfix}

.responsive
    {fullWidth}
