// Colors
//
// Generic styles for text, borders and backgrounds colors.
//
// @TODO<br/>
// Add examples for all colors : text | borders | backgrounds
//
// Markup: colors.twig
//
// Styleguide Helpers.Colors
for $item in $colors
    $.border-color-{$item}
        border 1px solid $item[1]

    $.bg-{$item}
        background-color $item[1]

    .color-{$item}
        color $item[1]
