// Helpers: Text elements
//
// Some default classes are available for text elements:
//
// - **.bold**:             bold text
// - **.italic**:           italic text
// - **.uppercase**:        uppercase text
// - **.font-secondary**:   small uppercase text (used on labels and pagers for example)
// - **.align-right**:      right-aligned block
// - **.align-left**:       left-aligned block
// - **.align-centered**:   centered block
// - **.align-justify**:    justified block
// - **.list-pos-outside**: list-item with outside positionned marks
// - **.list-type-none**:   list-item with no marks
//
// Weight: 11
//
// Markup: helpers-text.twig
//
// Styleguide Helpers.TextElements
.bold
    font-weight bold

.italic
    font-style italic

.align-center
    text-align center

.align-left
    text-align left

.align-right
    text-align right

.align-justify
    text-align justify

.uppercase
    text-transform uppercase

.font-secondary
    {fontSecondary}

.list-pos-outside
    {listPosOutside}

.list-type-none
    list-style none
