// Helpers: Text elements
//
// Text elements helpers.
//
// Weight: 11
//
// Styleguide Helpers.TextElements

// Text format
//
// Classes to format text.
//
// .bold               - bold text
// .italic             - italic text
// .uppercase          - uppercase text
// .font-secondary     - small uppercase text (used on labels and pagers for example)
//
// Markup: helpers-text-format.twig
//
// Styleguide Helpers.TextElements.TextFormat
.bold
    font-weight bold

.italic
    font-style italic

.uppercase
    text-transform uppercase

.font-secondary
    {fontSecondary}

// Text alignment
//
// Text alignement classes.
//
// .align-right      - right-aligned text
// .align-left       - left-aligned text
// .align-center     - centered text
// .align-justify    - justified text
//
// Markup: helpers-text-align.twig
//
// Styleguide Helpers.TextElements.TextAlignment
.align-center
    text-align center

.align-left
    text-align left

.align-right
    text-align right

.align-justify
    text-align justify


// Lists
//
// Classes to handle list items display.
//
// .list-pos-outside   - list-item with outside positionned marks
// .list-type-none     - list-item with no marks
//
// Markup: helpers-text-lists.twig
//
// Styleguide Helpers.TextElements.Lists
.list-pos-outside
    {listPosOutside}

.list-type-none
    list-style none
