<p class="bts bbs pa1" style="background:#f1f1f1">Example of top and bottom solid border class.</p>
<p class="btd bbd pa1" style="background:#f1f1f1">Example of top and bottom dotted border class.</p>
