<ul class="inline">
    <li>First inline list item</li>
    <li>Second item</li>
</ul>
<hr />
<div class="clearfix bbs bts">
    <p class="float-right" style="background-color:#f1f1f1">Floating paragraphs in a div.clearfix</p>
    <p class="float-left" style="background-color:#f1f1f1">Paragraph.float-left</p>
</div>
