<p>Example of <span class="bold">bold text</span></p>
<p>Example of <span class="italic">italic text</span></p>
<p>Example of <span class="uppercase">uppercase text</span></p>
<p>Example of <span class="font-secondary">small uppercase text text</span></p>
<hr/>
<p class="align-right" style="background-color:#f1f1f1">Example of right aligned text</p>
<p class="align-left" style="background-color:#f1f1f1">Example of right aligned text</p>
<p class="align-center" style="background-color:#f1f1f1">Example of centered text</p>
<p class="align-justify" style="background-color:#f1f1f1">Example of justified text. Example of justified text. Example of justified text. Example of justified text</p>
<hr />
<ul>
    <li>Default list-item display</li>
    <li class="list-pos-outside">List-item with outside mark</li>
    <li class="list-type-none">List-item with no mark</li>
</ul>
