<p class="{{ modifier_class }}">Example of {{ modifier_class }} text. In hac habitasse platea dictumst. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nullam sagittis. Morbi nec metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
