// Textarea
//
// Default styles for `<textarea>` field.
//
// Markup: form-textarea.twig
//
// Weight: 4
//
// Styleguide: Forms.Textarea
textarea
    vertical-align top
    border 1px solid var(--form-input-border-color)
    resize vertical
