/:root
    --form-input-bg-color: var(--color-bg-primary)
    --form-input-text-color: var(--color-base)
    --form-input-border-color: var(--color-fade)
    --form-input-focus-border-color: var(--color-secondary)
    --form-input-disabled-bg-color: var(--color-bg-secondary)
    --form-input-disabled-text-color: var(--color-secondary)
    --form-input-radio-border-color: var(--color-secondary)
    --form-input-rang-track-color: var(--color-fade)
