// Contrast
//
// Contrast ratio for accessibility [from WCAG recommendations](https://www.w3.org/TR/WCAG20-TECHS/G18).
//
// $contrast      - 4.5
// $contrast-low  - 3
// $contrast-high - 7
//
// Weight: 2
//
// Styleguide: Design.Contrast
$contrast ?= 4.5
$contrast-low ?= 3
$contrast-high ?= 7
