// Fontfaces
//
// `$fontface` is an hash import from `$fontface-file` path of a json.
//
// Styleguide: Settings.Fonts.FontFaces
$fontface-file ?= '../../../fontfaces.json'
$fontface ?= json($fontface-file, {hash: true})
