// Font loading strategy
//
// $fontload ?= optional         - value for `font-display` property.
// $fontload-js ?= false         - true if you choose js solution
// $fontload-class ?= 'webfont'  - className added to `<html>` when fonts are loaded
//
// Styleguide: Settings.Fonts.Load
$fontload ?= optional
$fontload-js ?= false
$fontload-class ?= 'webfont'
