// Grid
//
// Gutter width is used for vertical rhythm.
//
// $grid-columns ?= 12      - number of columns
// $grid-gutter ?= 12px     - gutter width is converted to `rem` unit
//
// Styleguide: Settings.Grid
$grid-columns ?= 12 // number of columns
$grid-gutter ?= 12px // gutter width is converted to `rem` unit
