// Grid
//
// Gutter width is used for vertical rythm.
//
// $grid-columns ?= 12        - number of columns
// $grid-gutter ?= 1.2rem     - gutter width (should be set with `rem` unit)
//
// Styleguide: Settings.Grid
$grid-columns ?= 12 // number of columns
$grid-gutter ?= 1.2rem // gutter width (should be set with `rem` unit)
