// Z-Index
//
// Colette provides 3 default `z-index`
//
// ```
// $zIndex ?= {
//     base: 1
//     overlay: 10
//     layout: 20
// }
// ```
//
// **Usage example**
// ```
// /* stylus file */
// z-index: zIndex.layout + 4
// ```
//
// will compile to
// ```
// /* CSS file */
// z-index: 24
//     /* styles */
// ```
//
//
//
// Styleguide: Settings.Z-Index
$zIndex ?= {
    base: 1
    overlay: 10
    layout: 20
}
