// Font
//
// Styleguide: Theme.Fonts

// Fonts Families
//
// The standard fonts used in 20 Minutes digital projects are **Open Sans** and **Helvetica**.
//
// **Helvetica** is used as the body text font.
//
// **Open Sans** is included in the project and available in 3 weights: Regular, Bold and Extra Bold.
// **Open Sans** must be **systematically used** for content titles :
// - bold or extra bold weight, in block teaser or content view,
// - regular in listed teaser view.
//
// The project also comes with a custom icon font. See section ‘Icon’ section for description and usages.
//
// TODO: Add woff2
//
// Styleguide: Theme.Fonts.Families

/* Open Sans */
@font-face
    font-family 'Open Sans'
    font-weight normal
    font-style normal
    src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff') // @stylint ignore

@font-face
    font-family 'Open Sans'
    font-weight bold
    src url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff') // @stylint ignore

@font-face
    font-family 'Open Sans'
    font-weight bold
    font-style italic
    src url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff') // @stylint ignore

@font-face
    font-family 'Open Sans'
    font-weight 900
    src url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff') // @stylint ignore

/* icons */
@font-face
    font-family '20mn'
    font-style normal
    src url('../fonts/20mn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/20mn.woff') format('woff') // @stylint ignore
