// Fonts
//
// The standard fonts used in 20 Minutes digital projects are **Open Sans** and **Helvetica**.
//
// **Helvetica** is used as the body text font.
//
// **Open Sans** is included in the project and available in 3 weights: Regular, Bold and Extra Bold.
// **Open Sans** must be **systematically used** for content titles :
// - bold or extra bold weight, in block teaser or content view,
// - regular in listed teaser view.
//
// The project also comes with a custom icon font. See section ‘Icon’ section for description and usages.
//
// Styleguide: Basics.Fonts


for i, $font in $fontface
    @font-face
        fontSrc = ()
        for j, font in $font.src
            push(fontSrc, font)

        font-family: join(' ', $font.family) // stylus fails if we ommit `:` for hashes getter
        if $font.weight
            font-weight: $font.weight // stylus fails if we ommit `:` for hashes getter

        if $font.style
            font-style: $font.style // stylus fails if we ommit `:` for hashes getter

        src s(join(', ', fontSrc))

        if (!$fontload-js)
            font-display $fontload

// icons
// TODO: Remove
@font-face
    font-family '20mn'
    font-style normal
    src url('../fonts/20mn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/20mn.woff') format('woff') // @stylint ignore
