// Forms
//
// Colette comes with basic css to style forms.
//
// Styleguide: Components.Forms

// Forms elements
//
// Default styles for forms elements.
//
// Weight: 1
//
// Markup: form-elements.twig
//
// Styleguide: Components.Forms.FormElements
form
    p
        margin 0

label
button
input
    vertical-align middle

button
input
select
textarea
    font-family inherit
    font-size 1em

/* Cursor:pointer to every clickable elements */
label
button
input[type='submit']
input[type='button']
input[type='reset']
    cursor pointer

    &[disabled]
        cursor default

label
    font-weight bold

input[type='text']
input[type='password']
input[type='email']
input[type='url']
input[type='time']
input[type='date']
input[type='datetime']
input[type='datetime-local']
input[type='tel']
input[type='number']
input[type='search']
select
textarea
    padding .5em
    border-radius .3em
    border 1px solid $color-base-lighten
    background-color $color-white
    line-height 1.3
    transition border-color .2s

    &:focus
        border-color $color-tertiary
        outline 0

        &:invalid
            border-color $color-error

    &[disabled]
        background-color $color-bg-base
        color $color-tertiary

input[type='search']
    appearance none // fix display on Safari & FF

select
    padding-right 2em
    background-image url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100\" height=\"100\" fill=\"#000\"><polygon points=\"0, 0 100, 0 50, 50\" /></svg>')
    background-repeat no-repeat
    background-position calc(100% - .75em) 1em
    background-size .5em .5em
    -webkit-appearance none // the svg background arrow doesn't display on FF, so we only target -webkit

textarea
    vertical-align top
    border 1px solid $color-base-lighten
    resize vertical

button
input[type='button']
input[type='submit']
    border-style none

/* Avoid deformation on radios, checkboxes and images inputs and different display on some IE */
input[type='radio']
input[type='checkbox']
input[type='image']
    background-color none
    border 0
    width auto

// iframe should be block by default
iframe
    display block
    width 100%

