*
    margin 0
    padding 0
    box-sizing border-box



:before
:after
    box-sizing border-box

:focus
    {outline}

    .js-focus-visible &:not(:focus-visible)
        outline 0

html
body
    height 100%
    min-height 100%

body
    background-color $color-base-lighten
