// Normalize
//
// Colette comes with a collection of HTML element and attribute style-normalizations.
// It takes a lot of inspiration and default styles from [normalizecss](https://github.com/necolas/normalize.css/blob/master/normalize.css).
//
// @TODO <br />
// [Issue #20](https://github.com/20minutes/colette/issues/20): Remove this file and add `normalizecss` as an `npm` dependency.
//
// Weight: 0
//
// Styleguide Basics.Normalize
/*
 * Spécial HTML 5 [
 * ---------------------------------------------------------------------------------------- */

/* Pour IE8/9 */
article,
aside,
audio,
canvas,
datagrid,
datalist,
details,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section,
video
    display block

abbr, eventsource, mark, meter, time, progress, output, bb
    display inline

/* (1) Empêche certains navigateurs d'afficher un <audio> sans [controls]
 * (2) Corrige un pb de hauteur sous iOS 5
 */
audio:not([controls])
    display none // 1
    height 0 // 2

/* Pour IE 8/9 */
[hidden]
    display none

/* ----------------------------------------------------------------------------------------
 * ] Spécial HTML 5 */

/*
 * Base [
 * ---------------------------------------------------------------------------------------- */
*
    margin 0
    padding 0
    box-sizing border-box

html
body
    height 100%
    min-height 100%

body
    background-color $color-base-lighten
/* ----------------------------------------------------------------------------------------
 * Base */

/*
 * Links [
 * ---------------------------------------------------------------------------------------- */
a
    text-decoration none

    &:focus
        // Outline pointillé pour tout le monde (supprime le box-shadow de Chrome)
        outline thin dotted

/* ----------------------------------------------------------------------------------------
 * ] Links */


/*
 * Media [
 * ---------------------------------------------------------------------------------------- */
img
    border 0
    display block
    vertical-align text-bottom

/* Corrige l'overflow pour IE9 */
svg:not(:root)
    overflow hidden

/* ----------------------------------------------------------------------------------------
 * ] Media */





/*
 * Typographie [
 * ---------------------------------------------------------------------------------------- */

/* Alignement des li et position de la puce */
li li
    margin-left 0

/* Suppression des margin/padding supplémentaires sur éléments imbriqués */
li p,
li ul
    margin-bottom 0
    margin-top 0
    padding-bottom 0
    padding-top 0

/* (1) Important : l'attribut [title] doit être présent
 * (2) Pour IE 8/9, Safari 5, and Chrome : qui n'ont pas de style par défaut pou cette balise
 */
abbr[title] // 1
    border-bottom 1px dotted // 2


/* Corrige les problèmes d'interlignage de <sup> et <sub> */
sup,
sub
    vertical-align 0
    position relative

sup
    bottom 1ex

sub
    top .5ex


/* Evite les débordement de texte en forçant le retour à la ligne */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p
    word-wrap break-word
    hyphens none

/* (1) On conserve les espaces / retours à la ligne autant que possible */
code,
pre,
samp
    white-space pre-wrap // 1

/* Un "début" de responsive : largeur maxi (donc hauteur auto) de certains élements */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input
    height auto
    max-width 100%
/* ----------------------------------------------------------------------------------------
 * ] Typographie */

/* Formulaires [
 * ---------------------------------------------------------------------------------------- */

/* Cursor:pointer sur tout ce qui peut/doit être cliqué... */
label,
button,
input[type="submit"],
input[type="button"],
input[type="reset"]
    cursor pointer

/* ... sauf sur les élements désactivés */
button[disabled],
html input[disabled] {
    cursor: default;
}

label,
button,
input
    vertical-align middle

/* Force la police et la taille du texte par défaut à l'intérieur d'un champ */
button,
input,
select,
textarea
    font-family inherit
    font-size 100%

button
    border none
    background none

/* Evite le dimensionnement des radios, checkboxes et images et un affichage différent sous IE
 * NB : pas de différence notable sur FF/Chrome/Safari Mac => à tester sous Windows & Linux ?
 */
input[type="radio"],
input[type="checkbox"],
input[type="image"]
    background-color none
    border 0
    width auto

/* Force le redimensionnement vertical sur les textarea */
textarea
    border 1px solid $color-base-lighten
    resize vertical

/***** status { *****/
select:required:invalid,
input:required:invalid,
input:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid
    /* à prévoir */

input:focus:required:valid,
textarea:focus:required:valid,
select:focus:required:valid
    /* à prévoir */

/* ----------------------------------------------------------------------------------------
 * ] Formulaires */
