// SVG symbols
//
// Colette use a collection of svg symbols built with [svgstore](https://www.npmjs.com/package/svgstore).
//
// By default svg `fill` are colored by current text color.
//
// Markup: svg.twig
//
// Styleguide: Design.Svg
svg
    fill currentColor
