<form>
    <div class="field">
        <label for="text_1">Label:</label><br/>
        <input type="text" id="text_1" value="ipsum sic amet" />
    </div>
    <div class="field">
        <label for="text_2">Label:</label><br/>
        <input type="text" id="text_2" placeholder="placeholder" />
        <p class="field-description">Lorem ipsum sic amet color</p>
    </div>
    <div class="field">
        <label for="text_3">Label*:</label><br/>
        <input type="text" id="text_3" required />
    </div>
    <div class="field">
        <label for="text_4">Label:</label><br/>
        <input type="text" id="text_4" readonly value="readonly" />
    </div>
    <div class="field">
        <label for="text_5">Label:</label><br/>
        <input type="text" id="text_5" disabled value="disabled" />
    </div>
    <div class="field">
        <label for="text_6">Label:</label><br/>
        <input class="input-valid" type="text" id="text_6" disabled value="ipsum sic amet" />
    </div>
    <div class="field">
        <label for="text_7">Label:</label><br/>
        <input class="input-invalid" type="text" id="text_7" disabled value="ipsum sic amet" />
    </div>
</form>

