<form action="#">
    <div class="form-field-widget">
        <p>
            <label for="textarea">Textarea</label>
            <textarea id="textarea" row="4" cols="50" />default value</textarea>
        </p>
    </div>
</form>
