<form action="#">
    <p>
        <input id="checkbox1" name="checkbox1" type="checkbox">
        <label for="checkbox1">Label</label>
    </p>
    <p>
        <input id="checkbox2" name="checkbox2" type="checkbox">
        <label for="checkbox2">Label</label>
    </p>
    <p>
        <input id="checkbox3" name="checkbox3" type="checkbox">
        <label for="checkbox3">Label</label>
    </p>
</form>
