<form action="#">
    <p>
        <input id="radioButton1" name="radioButtonGroup" type="radio">
        <label for="radioButton1">Label</label>
    </p>
    <p>
        <input id="radioButton2" name="radioButtonGroup" type="radio">
        <label for="radioButton2">Label</label>
    </p>
    <p>
        <input id="radioButton3" name="radioButtonGroup" type="radio">
        <label for="radioButton3">Label</label>
    </p>
</form>
