<form xmlns="http://www.w3.org/1999/html">
    <div class="form-field-widget pb2">
        <p>
            <label for="text_1">Text :</label>
            <br /><input type="text" id="text_11" placeholder="placeholder" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="text_2">Text readonly :</label>
            <br /><input type="text" id="text_2" readonly value="readonly" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="text_3">Text disabled :</label>
            <br /><input type="text" id="text_3" disabled value="disabled" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="email">Email :</label>
            <br /><input type="email" id="email" value="me@me.com" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="password">Password :</label>
            <br /><input type="password" id="password" value="password" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="url">URL :</label>
            <br /><input type="url" id="url" value="url.com" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="time">Time :</label>
            <br /><input type="time" id="time" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="date">Date :</label>
            <br /><input type="date" id="date" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="tel">Tel :</label>
            <br /><input type="tel" id="tel" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="number">Number :</label>
            <br /><input type="number" id="number" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="search">Search :</label>
            <br /><input type="search" id="search" />
        </p>
    </div>
    <div class="form-field-widget pb2">
        <p>
            <label for="textarea">Textarea :</label>
            <br /><textarea id="textarea" row="4" cols="50" />default value</textarea>
        </p>
    </div>
</form>

