// Breaking News
//
// A banner with important title.
// Is usualy a link to this article.
//
// Markup: breakingnews.twig
//
// Styleguide: Components.BreakingNews
/:root
/[data-theme=light]
/[data-theme] [data-theme=light]
    --breakingnews-title-color: var(--color-highlight)

/[data-theme=dark]
/[data-theme] [data-theme=dark]
    --breakingnews-title-color: var(--color-highlight-foreground)

.breakingnews
    _fontload($fontstack-secondary)
    display flex
    background var(--color-bg-primary)
    font-weight bold
    flex-wrap nowrap
    align-items stretch
    justify-content stretch
    border 0 // no border even it’s box

    &-label
    &-title
    &-cta
        display flex
        align-items center
        line-height 1.3em

    &-label
        _p(1)
        text-transform uppercase
        background var(--color-highlight)
        color var(--color-highlight-foreground)
        font-size .75em

        @media $breakpoints.md
            font-size 1em

    &-title
        _p(.5 1)
        _fontload($fontstack-secondary)
        flex-grow 1
        min-height _rem(62px)
        color var(--breakingnews-title-color)
        font-size 1em
        font-weight bold

        @media $breakpoints.sm
            font-size 1.375em

    &-cta
        _p(1)
        display none
        color var(--color-base)
        font-weight bold
        font-size .875em

        @media $breakpoints.md
            display flex
