// Footer
//
// Styles for basic footer.
//
// Markup: footerbar.twig
//
// Styleguide: Components.Footer
:root
    --footer-color: $color-footer
    --footer-color-foreground: lighten(desaturate($color-footer, 30%), 65%)

.footerbar
    _p(.25 2)
    {clearfix}
    {fontSecondary}
    clear both
    width 100%
    min-height _rem(30px)
    border-top 3px solid var(--footer-color-foreground)
    background-color var(--footer-color)
    color var(--footer-color-foreground)

    a
        color var(--color-fade)

        &:hover
            text-decoration underline
