<div class="accordion box pl1 pr1 pt1" data-multiselectable="true">
    <h3 class="accordion-subhead">
        <button id="tab1" class="accordion-subhead-button" aria-controls="panel1">Entête n<sup>o</sup> 1</button>
    </h3>
    <div id="panel1" aria-labelledby="tab1" class="accordion-body">
        <p>Exemple de paragraphe</p>
    </div>
    <h3 class="accordion-subhead">
        <button id="tab2" class="accordion-subhead-button" aria-controls="panel2" >Entête n<sup>o</sup> 2</button>
    </h3>
    <div id="panel2" aria-labelledby="tab2" class="accordion-body">
        <p>Exemple de paragraphe</p>
    </div>
    <h3 class="accordion-subhead">
        <button id="tab3" class="accordion-subhead-button" aria-controls="panel3" >Entête n<sup>o</sup> 3</button>
    </h3>
    <div id="panel3" aria-labelledby="tab3" class="accordion-body">
        <p>Exemple de paragraphe</p>
    </div>
    <h3 class="accordion-subhead">
        <button id="tab4" class="accordion-subhead-button" aria-controls="panel4">Entête n<sup>o</sup> 4</button>
    </h3>
    <div id="panel4" aria-labelledby="tab4" class="accordion-body">
        <p>Exemple de paragraphe</p>
    </div>
</div>
