<section class="breakingnews" >
    <a class="breakingnews-link" href="#">
        <span class="breakingnews-link-label">
            <svg width="30" height="30"><use xlink:href="#symbol-flash"></use></svg>Breaking News
        </span>
        <strong class="breakingnews-link-title">Important title of a new important article</strong>
    </a>
    <button class="breakingnews-close"><svg width="10" height="10"><use xlink:href="#symbol-cross"></use></svg></button>
</section>
