<a href="#" class="breakingnews box">
    <span class="breakingnews-label">Breaking News</span>
    <strong class="breakingnews-title">Important title of a new important article</strong>
    <span class="breakingnews-cta">Read this article</span>
</a>
