<section class="breakingnews-content" >
    <a class="breakingnews-content-link" href="#">
        <span class="breakingnews-content-link-label">
            <svg width="30" height="30"><use xlink:href="#symbol-flash"></use></svg>Breaking News
        </span>
        <strong class="breakingnews-content-link-title">Important title of a new important article</strong>
    </a>
    <button class="breakingnews-content-close"><svg width="10" height="10"><use xlink:href="#symbol-cross"></use></svg></button>
</section>
