<footer class="footerbar align-center">
    <a href="#">Choix de consentement</a> <span class="footerbar-copyright">© Copyright</span> <a href="#">20&nbsp;Minutes</a><span class="fs11"> - La fréquentation de 20&nbsp;Minutes est certifiée par l’ACPM </span>
</footer>
