
<ul class="inlinemenu ai-cntr jc-cntr">
    <li class="inlinemenu-item"><a href="#">Plan du site</a></li>
    <li class="inlinemenu-item"><a href="#">Notre charte</a></li>
    <li class="inlinemenu-item"><a href="#">Journal PDF</a></li>
    <li class="inlinemenu-item"><a href="#">Mentions légales</a></li>
    <li class="inlinemenu-item"><a href="#">CGU</a></li>
    <li class="inlinemenu-item"><a href="#">Protection des données personnelles</a></li>
    <li class="inlinemenu-item"><a href="#">Gestion des cookies</a></li>
    <li class="inlinemenu-item"><a href="#">Nous contacter</a></li>
</ul>
