<nav class="navbar" style="position:static">
    <a href="#" class="navbar-brand">
        <svg width="30" height="30"><use xlink:href="#symbol-logo"></use></svg>
        <span class="mask">Retour à l'accueil</span>
    </a>
    <ul class="float-right">
        <li>
            <a href="#">
                <svg width="30" height="30"><use xlink:href="#symbol-user"></use></svg>
                <span class="mask">Icononly</span>
            </a>
        </li>
        <li>
            <a href="#">
                <svg width="30" height="30"><use xlink:href="#symbol-user"></use></svg>
                <span class="pl1" >Icon + text</span>
            </a>
        </li>
    </ul>
</nav>
