// Buttons
//
// Colette comes with basic styles for call to action / buttons.
//
// Styleguide Components.Buttons

// Weight: 0
//
// Default Buttons
//
// All editorial colors are available to style the button according to its context.
//
// .btn-default          - default color button
// .btn-sport            - sport color button
// .btn-entertainment    - entertainment color button
// .btn-economy          - economy color button
// .btn-community        - community color button
// .btn-weird            - weird color button
// .btn-partner          - partner color button
// .btn-planet           - planet color button
// .btn-media            - media color button
// .btn-hightech         - hightech color button
// .btn-native           - native color button
//
// Markup: buttons-default.twig
//
// Styleguide Components.Buttons.ButtonsDefault
.btn
    display inline-block
    text-align center
    padding .5em 1.5em
    border-radius 20em
    font-family $font-secondary
    font-size .875em
    font-weight bold
    text-transform uppercase
    background-color $color-secondary
    transition background-color .2s ease
    color $color-base

    svg
        width .9em
        height .9em
        margin-bottom -.1em
        margin-right .3em //default style for left icon

    //overrides for right icon
    span + svg
        margin-right 0
        margin-left .3em

    &:disabled
        background-color alpha($color-secondary, .5)

    &:enabled:hover
        background-color darken($color-secondary, 20%)

// Weight: 1
//
// Icon Buttons: default styles
//
// Icon buttons are icons in a colored circle.
// All editorial colors are available to style the button according to its context.
//
// .btn-default          - default color button
// .btn-sport            - sport color button
// .btn-entertainment    - entertainment color button
// .btn-economy          - economy color button
// .btn-community        - community color button
// .btn-weird            - weird color button
// .btn-partner          - partner color button
// .btn-planet           - planet color button
// .btn-media            - media color button
// .btn-hightech         - hightech color button
// .btn-native           - native color button
//
// Markup: buttons-icon-default.twig
//
// Styleguide Components.Buttons.IconButtonsDefault

// Weight: 2
//
// Icon Buttons: social styles
//
// We also have a few styles available for social buttons:
//
// - **.btn-icon-facebook**: facebook button
// - **.btn-icon-googleplus**: googleplus button
// - **.btn-icon-hootsuite**: hootsuite button
// - **.btn-icon-linkedin**: linkedin button
// - **.btn-icon-pinterest**: pinterest button
// - **.btn-icon-pocket** pocket button
// - **.btn-icon-sms** sms button
// - **.btn-icon-twitter**: twitter button
// - **.btn-icon-whatsapp**: whatsapp button
//
// Markup: buttons-icon-social.twig
//
// Styleguide Components.Buttons.IconButtonsSocial
//

.btn-icon
    display inline-block
    border-radius 60em // oversize radius to keep it round
    background-color $color-secondary
    transition background-color .2s ease
    color $color-base

    svg
        width 1em
        height 1em
        margin .33em
        display block

// btn theme color
.btn
.btn-icon
    for key, value in $colors
        &.btn-{key}
        &.btn-icon-{key}
            background-color value
            color $color-white

            &:disabled
                background-color alpha(value, .5)

            &:enabled:hover
                background-color darken(value, 20%)

    &.btn-native
        color $color-base

    &.btn-icon.btn-icon-pocket
        color $color-pocket1
        border solid .1em $color-pocket2
