// Buttons
//
// Colette comes with basic styles for call to action / buttons.
//
// Styleguide Components.Buttons

// Weight: 0
//
// Default Buttons
//
// All editorial colors are available to style the button according to its context.
//
// .btn-default          - default color button
// .btn-sport            - sport color button
// .btn-entertainment    - entertainment color button
// .btn-economy          - economy color button
// .btn-community        - community color button
// .btn-weird            - weird color button
// .btn-partner          - partner color button
// .btn-planet           - planet color button
// .btn-media            - media color button
// .btn-hightech         - hightech color button
// .btn-native           - native color button
//
// Markup: buttons-default.twig
//
// Styleguide Components.Buttons.ButtonsDefault

// Weight: 1
//
// Default Social Buttons
//
// All social colors are available to style the button according to its context.
//
// .btn-facebook         - facebook color button
// .btn-messenger        - messenger color button
// .btn-twitter          - twitter color button
// .btn-pinterest        - pinterest color button
// .btn-linkedin         - linkedin color button
// .btn-googleplus       - googleplus color button
// .btn-pocket           - pocket color button
// .btn-snapchat         - snapchat color button
// .btn-whatsapp         - whatsapp color button
// .btn-hootsuite        - hootsuite color button
// .btn-github           - github color button
// .btn-sms              - sms color button
//
// Markup: buttons-default-socials.twig
//
// Styleguide Components.Buttons.ButtonsDefaultSocials
.btn
    _fontload($font-secondary)
    display inline-block
    text-align center
    padding .5em 1.5em
    border-radius 20em
    font-size .875em
    font-weight bold
    text-transform uppercase
    background-color $color-secondary
    transition background-color .2s ease
    color $color-base

    svg
        width .9em
        height .9em
        margin-bottom -.1em

        &.left
            margin-right .3em

        &.right
            margin-left .3em

// Weight: 2
//
// Icon Buttons: default styles
//
// Icon buttons are icons in a colored circle.
// All editorial colors are available to style the button according to its context.
//
// .btn-default          - default color button
// .btn-sport            - sport color button
// .btn-entertainment    - entertainment color button
// .btn-economy          - economy color button
// .btn-community        - community color button
// .btn-weird            - weird color button
// .btn-partner          - partner color button
// .btn-planet           - planet color button
// .btn-media            - media color button
// .btn-hightech         - hightech color button
// .btn-native           - native color button
//
// Markup: buttons-icon.twig
//
// Styleguide Components.Buttons.IconButtons

// Weight: 3
//
// Icon Buttons: social styles
//
// Icon buttons are icons in a colored circle.
// All social colors are available to style the button according to its context.
//
// .btn-facebook         - facebook color button
// .btn-messenger        - messenger color button
// .btn-twitter          - twitter color button
// .btn-pinterest        - pinterest color button
// .btn-linkedin         - linkedin color button
// .btn-googleplus       - googleplus color button
// .btn-pocket           - pocket color button
// .btn-snapchat         - snapchat color button
// .btn-whatsapp         - whatsapp color button
// .btn-hootsuite        - hootsuite color button
// .btn-github           - github color button
// .btn-sms              - sms color button
//
// Markup: buttons-icon-socials.twig
//
// Styleguide Components.Buttons.IconButtonsSocials

.btn-icon
    display inline-block
    border-radius 60em // oversize radius to keep it round
    background-color $color-secondary
    transition background-color .2s ease
    color $color-base

    svg
        width 1em
        height 1em
        margin .33em
        display block

    &:focus
        {outline}

// disabled & hover default effect (for buttons without a key color)
.btn
.btn-icon
    &:disabled
        opacity .5

    &:enabled:hover
        background-color darken($color-secondary, 20%)

// btn theme color
.btn
.btn-icon
    $tmpColors = {}
    for key, value in merge($tmpColors, $colors, $colors-socials)
        &.btn-{key}
            background-color value
            color $color-white

            &:enabled:hover
                background-color darken(value, 20%)

    &.btn-native
    &.btn-snapchat
        color $color-base

    &.btn-pocket
        color $color-pocket1
        border solid .1em $color-pocket2
