// Forms widgets
//
// Colette provides styles for:
// - Fields descriptions (with valid / invalid color indication)
// - Valid / Invalid fields
//
// Note: you can also use Alerts components to handle success or errors messages.
//
// Weight: 2
//
// Markup: form-widget.twig
//
// Styleguide: Components.Forms.FormWidgets
.form-field-widget
    // display a widget for form element that must be filled with text content
    // e.g. input[text|password|email|url]
    label
        display block

.form-field-error
        border-color $color-error!important // @stylint ignore: must override default form elements border-color

.form-field-success
        border-color $color-success!important // @stylint ignore: must override default form elements border-color

.form-help
    color $color-tertiary
    font-size .88em
    font-style italic

    &-error
        color $color-error

    &-success
        color $color-success

.form-required
    color $color-highlight
