// Form single row
//
// Display, on a single row, an input field + fixed-width icon submit button.
//
// Weight: 3
//
// White and editorial colors are available to style the button according to its context.
//
// .form-single-row-transparent      - transparent color button
// .form-single-row-sport            - sport color button
// .form-single-row-entertainment    - entertainment color button
// .form-single-row-economy          - economy color button
// .form-single-row-community        - community color button
// .form-single-row-weird            - weird color button
// .form-single-row-partner          - partner color button
// .form-single-row-planet           - planet color button
// .form-single-row-media            - media color button
// .form-single-row-hightech         - hightech color button
// .form-single-row-native           - native color button
//
// Markup: form-single-row.twig
//
// Styleguide Components.FormComponents.FormSingleRow
.form-single-row
    overflow hidden
    position relative

    input[type='search']
    input[type='text']
        height 3.6rem
        width 100%
        padding-right 4.2rem
        border 1px solid $color-secondary
        border-radius 1.8rem

    input[type='submit']
    button[type='submit']
        position absolute
        top 0
        right 0
        bottom 0
        width 4.2rem
        border 0
        border-radius 0 1.8rem 1.8rem 0
        background-color $color-default
        color white

        svg
            font-size 2.1rem
            margin-right .6rem
            height 1em
            width 1em

    &-transparent
        input[type='submit']
        button[type='submit']
            border-top 1px solid transparent
            background-color transparent
            color $color-tertiary

    for key, value in $colors
        &-{key}
            input[type='submit']
            button[type='submit']
                background-color value
                color _contrast_choose(value, $color-white $color-black)
