// Forms
//
// Display, on a single row, an input field + fixed-width icon submit button.
//
// Markup: form.twig
//
// Styleguide Components.form
.form-single-row
    @extends .clearfix

    input[type='text']
    input[type='submit']
    button[type='submit']
        float left
        height 3.6rem

    input[type='text']
        width calc(100% - 4.2rem)
        border 1px solid $color-secondary
        border-right 0
        border-radius 1.8rem 0 0 1.8rem

    input[type='submit']
    button[type='submit']
        width 4.2rem
        border 0
        border-radius 0 1.8rem 1.8rem 0
        background-color $color-default
        color white

    [data-icon=search]
        padding-right 6px
        font-size 2.1rem
