// Loading
//
// Loading animation is inspired from Tobias Ahlin's [Spinkit](http://tobiasahlin.com/spinkit) animations.
//
// Markup: loading.twig
//
// Styleguide Components.Loading
.loading
    position relative
    margin 0 auto
    text-align center
    width 9.6rem
    height 2.4rem
    color $color-base
    {loading}

    &-small
        font-size .6em

// TODO: remove .spinner class
// DEPRECATED
.spinner
    margin 0 auto
    width 9.6rem
    text-align center

    > span
        display inline-block
        width 1.8rem
        height @width
        margin 0 .3rem
        border-radius 100%
        background-color $color-base

    &-small
        > span
            width .9rem
            height @width

    .bounce1
    .bounce2
    .bounce3
        animation bouncedelay 1.4s infinite ease-in-out
        /* Prevent first frame from flickering when animation starts */
        animation-fill-mode both

    .bounce1
        animation-delay -.32s

    .bounce2
        animation-delay -.16s

@keyframes bouncedelay
    0%, 80%, 100%
        transform scale(0)

    40%
        transform scale(1)
