// Navbar
//
// Display a navigation bar at the top of the page.
// Colette comes with a [headroom.js](http://wicky.nillia.ms/headroom.js/) dependency to handle navbar show/hide behavior on scroll.
//
// Markup: navbar.twig
//
// Styleguide Components.navbar
.navbar
    {clearfix}
    fixed top 0
    z-index 20
    width 100%
    height 4.8rem
    box-shadow 0 2px 4px -2px $color-base
    background-color $color-white
    line-height @height

    ul
        height inherit
        list-style none
        margin 0
        padding 0

        a
            display block
            padding 0 1.8rem
            color $color-base
            text-align center
            transition background-color .2s

            &:hover
                background-color $color-bg-base

    li
        float left

    &-brand
        float left
        padding 0 .6rem
        height inherit
        background-color $color-default
        font-size 3.6rem
        color $color-white
