// Requided Marker
//
// Markup: required.twig
//
// Styleguide Components.Forms.required
.required
    color $color-error

    &[title] // stronger selector to override `abbr[title]` styles
        border-bottom 0
