// Required Marker
//
// Markup: required.twig
//
// Styleguide Components.Forms.Required
.required
    color $color-error
    text-decoration none // `abbr` are `underline` dotted on firefox

    &[title] // stronger selector to override `abbr[title]` styles
        border-bottom 0
        text-decoration none
