// Skins
//
// Add a skin over the image of a content block on listing pages, and depending on the skin, modify the teaser text and/or background colors.
// Note that:
// - the skin is applied on a `<figure clas="media">` tag,
// - the image must be placed within a `<p>` or a `<div>` tag for icon skins
//
// .skin-blog        - text skin: "blog", text color: community
// .skin-chat        - text skin: "chat"
// .skin-diaporama   - text skin: "diaporama"
// .skin-exclusive   - text skin: "exclusif", text color: highlight
// .skin-lastminute  - text skin: "dernière minute", text color: white, background-color: highlight
// .skin-live        - text skin: "live", headline color: highlight
// .skin-partner     - text skin: "partenaire"
// .skin-people      - text skin: "people"
// .skin-quiz        - text skin: "quiz", title/description color: community
// .skin-weird       - text skin: "t'as vu"
// .skin-gallery     - icon skin: 'images'
// .skin-video       - icon skin: 'play'
//
// Markup: skin.twig
//
// Styleguide Theme.skins

/* Text skins */
.skin-blog
.skin-chat
.skin-exclusive
.skin-diaporama
.skin-lastminute
.skin-live
.skin-partner
.skin-people
.skin-quiz
.skin-weird
    .media
        &:before
        &:after
            absolute top 0 left 0

        &:before
            @extends .font-secondary
            z-index 2
            width 60px
            height 30px
            color $color-white
            text-align center
            line-height 30px

        &:after
            content ''
            z-index 1
            width 66px
            height 36px
            background-color $color-black
            opacity .3

.skin-blog
    p
        color $color-community

    .media
        &:before
            content 'blog'
            background-color $color-community

.skin-chat
    .media
        &:before
            content 'chat'
            background-color $color-community

.skin-diaporama
    .media
        &:before
            width 130px
            background-color $color-media
            content 'diaporama'

        &:after
            width 136px

.skin-exclusive
    p
        color $color-highlight

    .media
        &:before
            content 'exclusif'
            width 90px
            background-color $color-highlight

        &:after
            width 96px

.skin-lastminute
    padding 0
    background-color $color-highlight

    p
        color $color-white

    a:first-child
        display block
        border 1px solid $color-white

    .media
        &:before
            content 'dernière minute'
            width 130px
            background-color $color-highlight

        &:after
            width 136px

.skin-live
    .media
        &:before
            content 'live'
            background-color $color-highlight

    .teaser-headline
        color $color-highlight

.skin-partner
    .media
        &:before
            content 'Partenaire'
            width 90px
            background-color $color-native
            color $color-base

        &:after
            width 96px

.skin-people
    .media
        &:before
            content 'People'
            background-color $color-entertainment

.skin-quiz
    color $color-community
    .media
        &:before
            content 'quiz'
            background-color $color-community

.skin-weird
    .media
        &:before
            content 'T’as vu'
            background-color $color-weird

/* Icon skins */
.skin-gallery
.skin-video
    .media > p:first-child
    .media > div:first-child
        @extends [data-icon]
        position relative

        &:before
        &:after
            display block
            padding 6px
            width 60px
            height 42px

        &:before
            z-index 2
            absolute bottom 6px left 6px
            font-size 3.6rem
            text-align center
            line-height 42px
            color $color-white

        &:after
            content ''
            z-index 1
            absolute bottom 6px left 6px
            border-radius 3px
            background-color $color-media
            opacity .5

.skin-video
    .media
        > p:first-child
        > div:first-child
            &:before
                content 'p'

.skin-gallery
    .media
        > p:first-child
        > div:first-child
            &:before
                content 'I'
