// Socialbar
//
// Display a set of social buttons.
//
// Markup: socialbar.twig
//
// Styleguide Components.socialbar

.socialbar
    @extends .list-type-none, .clearfix

    li
        float left
        text-align center

        &:not(:first-child)
            margin-left 1.4rem

    a
        display block
