// Socialbar
//
// Display a set of social buttons.
//
// Markup: socialbar.twig
//
// Styleguide Components.socialbar

.socialbar
    @extends .list-type-none, .clearfix

    li
        float left
        width 27px
        text-align center

        &:not(:first-child)
            margin-left 1.8rem

    a
        position relative

        &:not([data-icon='comments'])
            @extends .btn-icon

    /* counters */
    span
        @extends .font-secondary
        absolute bottom -18px left 0
        display inline-block
        width 100%
        margin-top 3px
        border-radius 2px
        background-color alpha(black, 10%)
        color $color-base
        line-height 1.3
