// Teaser
//
// _modules/_borders.styl
//
// Displayed in listings, a teaser is a content summary. It contains:
// - a label
// - a title
// - a summary text
//
// Markup: teaser.hbs
//
// Styleguide Components.Teaser
.teaser
    @extend .pa2

.teaser-headline
    font-family $font-secondary
    font-weight bold
    font-size 1.1rem
    text-transform uppercase

.teaser-title
    font-family $font-headings
    font-weight bold
    line-height 1.2

.teaser-summary
    padding-top .3rem

.native
    background-color $color-native
