// Teaser
//
// Displayed in listings, a teaser is a content summary that contains:
// - a label
// - a title
// - a summary text
//
// Markup: teaser.twig
//
// Styleguide Components.Teaser
.teaser
    _pa(2)

    &-headline
        _fontload($font-secondary)
        margin 0
        font-weight bold
        font-size 1.1rem
        text-transform uppercase

    &-title
        _fontload($font-headings)
        margin 0
        font-weight bold
        line-height 1.2

    &-summary
        margin 0
        padding-top .3rem
