<div class="block box">
    <p class="block-title">
        <svg height="11" width="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-clock"></use></svg>
        Example of a block title
    </p>
    <p class="pa1">Example of a block content</p>
    <div class="block-footer">
        Example of a block footer
    </div>
</div>
