<div class="block box {{ modifier_class }} block-default">
    <p class="block-title">Résultats présidentielle 2017</p>
    <ul class="block-list" data-item-per-page="10">
        <li class="block-list-item"><a class="pl1 pr1" href="#">Paris (75000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Marseille (13000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Lyon (69000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Toulouse (31500)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Nice (06000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Strasbourg (67000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Nantes (44200)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Bordeaux (33000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Montpellier (34000)</a></li>
        <li class="block-list-item"><a class="pl1 pr1" href="#">Saint-Étienne (42000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Rennes (35000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Le Havre (76600)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Reims (51100)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Lille (59000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Toulon (83000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Grenoble (38000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Brest (29200)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Dijon (21000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Le Mans (72100)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Saint-Denis (97400)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Angers (49000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Clermont-Ferrand (63000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Limoges (87000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Amiens (80000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Tours (37100)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Nîmes (30000)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Aix-en-Provence 13100</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Metz (57050)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Villeurbanne (69100)</a></li>
        <li class="block-list-item" aria-hidden="true"><a class="pl1 pr1" href="#">Besançon (25000)</a></li>
    </ul>
    <div class="block-footer">
        <div class="pager float-right" role="navigation">
            <button class="pager-prev" disabled="disabled">
                <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-left"></use></svg>
                <span class="mask">Précédent</span>
            </button>
            <span class="pager-count">
                <span class="pager-current">1</span> on <span class="pager-max">3</span>
            </span>
            <button class="pager-next">
                <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-right"></use></svg>
                <span class="mask">Suivant</span>
            </button>
        </div>
    </div>
</div>
