<button class="btn-icon" data-icon="facebook"><em>facebook</em></button>
<button class="btn-icon" data-icon="googleplus"><em>googleplus</em></button>
<button class="btn-icon" data-icon="hootsuite"><em>hootsuite</em></button>
<button class="btn-icon" data-icon="linkedin"><em>linkedin</em></button>
<button class="btn-icon" data-icon="pinterest"><em>pinterest</em></button>
<button class="btn-icon" data-icon="pocket"><em>pocket</em></button>
<button class="btn-icon" data-icon="sms"><em>sms</em></button>
<button class="btn-icon" data-icon="twitter"><em>twitter</em></button>
<button class="btn-icon" data-icon="whatsapp"><em>whatsapp</em></button>
