<p>
    <a href="#" class="btn {{ modifier_class }} mr1">Call to action</a>
    <button class="btn {{ modifier_class }} mr1" type="submit">Submit</button>
    <button class="btn {{ modifier_class }} mr1" disabled type="submit">Submit (disabled)</button>
</p>
