<button class="btn-icon btn-icon-facebook">
    <svg height="16" width="16"><use xlink:href="#symbol-social-facebook"></use></svg>
    <span class="mask">Facebook</span>
</button>
<button class="btn-icon btn-icon-googleplus" >
    <svg height="16" width="16"><use xlink:href="#symbol-social-googleplus"></use></svg>
    <span class="mask">Google Plus</span>
</button>
<button class="btn-icon btn-icon-hootsuite" >
    <svg height="16" width="16"><use xlink:href="#symbol-social-hootsuite"></use></svg>
    <span class="mask">HootSuite</span>
</button>
<button class="btn-icon btn-icon-linkedin">
    <svg height="16" width="16"><use xlink:href="#symbol-social-linkedin"></use></svg>
    <span class="mask">LinkedIn</span>
</button>
<button class="btn-icon btn-icon-pinterest">
    <svg height="16" width="16"><use xlink:href="#symbol-social-pinterest"></use></svg>
    <span class="mask">Pinterest</span>
</button>
<button class="btn-icon btn-icon-pocket">
    <svg height="16" width="16"><use xlink:href="#symbol-social-pocket"></use></svg>
    <span class="mask">Pocket</span>
</button>
<button class="btn-icon btn-icon-sms">
    <svg height="16" width="16"><use xlink:href="#symbol-social-sms"></use></svg>
    <span class="mask">Sms</span>
</button>
<button class="btn-icon btn-icon-twitter">
    <svg height="16" width="16"><use xlink:href="#symbol-social-twitter"></use></svg>
    <span class="mask">Twitter</span>
</button>
<button class="btn-icon btn-icon-whatsapp">
    <svg height="16" width="16"><use xlink:href="#symbol-social-whatsapp"></use></svg>
    <span class="mask">What's App</span>
</button>
