<p>
    <a href="#" class="btn-icon float-left {{ modifier_class }} mr1" data-icon="mail"><em>Call to action</em></a>
    <button class="btn-icon {{ modifier_class }} mr1" type="submit" data-icon="mail"><em>Submit</em></button>
    <button class="btn-icon {{ modifier_class }}" disabled type="submit" data-icon="mail"><em>Submit (disabled)</em></button>
</p>
