<form action="#">
    <div class="form-field">
        <p>
            <label for="textfield">Label</label>
            <input type="text" id="textfield" />
            <a href="#" class="form-link">Click here for more option</a>
        </p>
    </div>
</form>
