<form action="#">
    <div class="form-field">
        <p>
            <label for="{{ modifier_class|replace({'.': ''}) }}">Label</label>
            <input class="{{ modifier_class }}" type="text" id="{{ modifier_class|replace({'.': ''}) }}" />
        </p>
    </div>
</form>

