<form xmlns="http://www.w3.org/1999/html">
    <div class="clearfix">
        <div class="form-field-widget col-md-4 pb2">
            <p>
                <label for="text_11">Text :</label>
                <br /><input type="text" id="text_11" aria-describedby="text_11_desc" />
            </p>
            <p id="text_11_desc" class="form-help">Field description/help text</p>
        </div>
        <div class="form-field-widget col-md-4 pb2">
            <p>
                <label for="text_12">Required text <span class="form-required">*</span> :</label>
                <br /><input class="form-field-error" type="text" id="text_12" required aria-describedby="text_12_desc" />
            </p>
            <p id="text_12_desc" class="form-help form-help-error" role="alert">This field is required</p>
        </div>
        <div class="form-field-widget col-md-4 pb2">
            <p>
                <label for="text_13">Text :</label>
                <br /><input class="form-field-success" type="text" id="text_13" value="lorem ipsum" aria-describedby="text_13_desc" />
            </p>
            <p id="text_13_desc" class="form-help form-help-success">This field is valid</p>
        </div>
    </div>
</form>

