<form class="form-single-row {{ modifier_class }}" action="#">
    <input type="text" class="pl1 pr1" placeholder="Input field" />
    <button type="submit">
        <svg><use xlink:href="#symbol-search"></use></svg>
        <span class="mask">ok</span>
    </button>
</form>
