<a class="linkwithsvg mr2" href="#">
    <svg height="11" width="11">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-more"></use>
    </svg>
    <span class="mask">Plus</span>
    <span class="linkwithsvg-label">d’articles</span>
</a>
