<p>Image</p>
<figure class="media">
    <img src="http://img.20mn.fr/gmiJ0COJRYqUQM6w1jeBlw/648x415_20mn-11765.jpg" alt="This is an image">
    <figcation>This is the image caption</figcation>
    <p class="media-credit">This is the credit info</p>
</figure>
<p>Video</p>
<figure class="media media-video-container">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/HwCnti9SW7o" frameborder="0" allowfullscreen></iframe>
    <figcation>This is the image caption</figcation>
    <p class="media-credit">This is the credit info</p>
</figure>
<p>Empty media</p>
<figure class="media">
    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='648' height='415'%3E%3C/svg%3E" alt="">
    <figcation>This is the image caption</figcation>
    <p class="media-credit">This is the credit info</p>
</figure>
