<nav class="navbar" style="position:static">
    <a href="#" class="navbar-brand" data-icon="logo"><em>Retour à l'accueil</em></a>
    <ul class="float-right">
        <li><a href="#" data-icon="user"><em>Icononly</em></a></li>
        <li><a href="#" data-icon="user"> Icon + text</a></li>
    </ul>
</nav>
