<ul class="socialbar">
    {% for key, name in socials %}
    <li>
        <a class="btn-icon btn-{{ key }}" href="#" target="_blank">
            <svg height="16" width="16"><use xlink:href="#symbol-social-{{ key }}"></use></svg>
            <span class="mask">{{ name }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
