<ul class="socialbar">
    <li>
        <a href="#" data-icon="facebook" target="_blank"><em>Facebook</em></a>
    </li>
    <li>
        <a href="#" data-icon="twitter" target="_blank"><em>Twitter</em></a>
    </li>
    <li>
        <a href="#" data-icon="linkedin" target="_blank"><em>LinkedIn</em></a>
    </li>
    <li>
        <a href="#" data-icon="googleplus" target="_blank"><em>Google Plus</em></a>
    </li>
    <li>
        <a href="#" data-icon="pinterest" target="_blank"><em>Pinterest</em></a>
    </li>
    <li>
        <a href="#" data-icon="whatsapp" target="_blank"><em>What's App</em></a>
    </li>
    <li>
        <a href="#" data-icon="sms" target="_blank"><em>SMS</em></a>
    </li>
</ul>
