<!-- default -->
<div class="tabs-wrapper box mb2">
    <ul class="tabs default mb2">
        <li class="tabs-name"><span>Default display</span></li>
        <li class="tabs-item"><a href="#">Tab 1</a></li>
        <li class="tabs-item"><a href="#">Tab 2</a></li>
        <li class="tabs-item"><a href="#">Tab 3</a></li>
    </ul>
</div>

<!-- breaking news -->
<div class="box tabs breakingnews mb2">
    <a href="#">
        <p class="tabs-name"><span>Breaking<br>News</span></p><p class="tabs-alert">Lorem ipsum sic amet color baba orum</p>
    </a>
</div>
