<div class="teaser">
    <p class="teaser-headline color-default">Label</p>
    <p class="teaser-title">This is the content title</p>
    <p class="teaser-summary">This is the summary lorm ipsum sic amet color baba orum.</p>
</div>
