// Form
//
// Colette comes with basic CSS to style form’s elements.
//
// Weight: 3
//
// Styleguide: Forms

@import 'form/_variables'
@import 'form/_common'
@import 'form/text'
@import 'form/_textarea'
@import 'form/_radioCheckbox'
@import 'form/_select'
@import 'form/_range'
