*
    margin 0
    padding 0
    box-sizing border-box

:before
:after
    box-sizing border-box

:focus
    {outline}

    .js-focus-visible &:not(:focus-visible)
        outline 0

html
body
    height 100%
    min-height 100%

body
[data-theme='dark'] // allow darkmode only on a block
    background-color var(--color-bg-base)
    color var(--color-base)

// iframe should be block without border by default
iframe
    display block
    border 0
