<form action="#">
    <div class="form-field">
        <label for="select">Select</label>
        <select id="select">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
        </select>
    </div>
</form>
