<form action="#">
    <div>
        <input id="radioButton1" name="radioButtonGroup" type="radio">
        <label for="radioButton1">Label</label>
    </div>
    <div>
        <input id="radioButton2" name="radioButtonGroup" type="radio">
        <label for="radioButton2">Label</label>
    </div>
    <div>
        <input id="radioButton3" name="radioButtonGroup" type="radio">
        <label for="radioButton3">Label</label>
    </div>
</form>
