// Box
//
// A `box` is a skin for block present on the body background.
// It can be used on a simple `div` on a component block or preview (on homepage or listing pages) or on the content container (content view).
//
// Markup: box.twig
//
// Styleguide Components.Box
.box
    overflow hidden
    border-radius $radius
    border .1rem solid $color-white
    background-color $color-white
    box-shadow 0 0 0 .1rem rgba($color-black, .02), 0 .1rem .4rem .1rem rgba($color-black, .06)
