// Card
//
// An article card is a teaser + media group
// It can be a link and modified by `.color-*` helpers
//
// .color-default - theme default
// .color-planet - theme planet
// .card-lined.color-default - theme default + lined style
//
// Markup: card.twig
//
// Styleguide Components.card
.card
    _m(0)
    {clearfix}
    display block
    padding .5em .2em .5em .4em
    transition background-color .2s ease
    border 0 solid currentColor

    &-lined
        border-left-width 3px

    &:link:hover
        background-color $color-bg-light
    // add properties to .media

    .media
        float left
        width 7.5em
        height 4.9em
        overflow hidden

    .teaser
        _p(0 .5)
        height 4.85em // limit height to 4 lines and no more
        overflow hidden

        &-headline
            color currentColor

        &-title
            color $color-base
            font-weight normal
            font-size _rem(13px)
            line-height 1em
