// Footer
//
// Styles for basic footer.
//
// Markup: footerbar.twig
//
// Styleguide Components.Footer
.footerbar
    _p(.5 2)
    {fontSecondary}
    clear both
    width 100%
    min-height _rem(30px)
    border-top _rem(3px) solid $color-footer
    background-color $color-default
    color $color-footer

    a
        color $color-base-lighten

        &:hover
            text-decoration underline
