// Socialbar
//
// Display a set of social buttons.
//
// Markup: socialbar.twig
//
// Styleguide Components.socialbar

.socialbar
    {clearfix}
    padding 0
    margin 0
    list-style-type none

    li
        float left
        text-align center

        &:not(:first-child)
            margin-left 1.4rem
