// Tab Panel
//
// A `box` is a skin for block present on the body background.
// It can be used on a simple `div` on a component block or preview (on homepage or listing pages) or on the content container (content view).
//
// Markup: tabpanel.twig
//
// Styleguide Components.TabPanel
[role=tabpanel][aria-hidden=true] {
  display: none;
}
