{# Preview
 # Default template
 # @param array       article         (required)
 #      -> array    classes (optional)
 #      -> array    list    (optional)
 #          ->  string  label   (required)
 #      -> sting    footer   (required)
 #}
{%- set classes = classes|default([]) -%}
{%- if modifier_class -%}{% set classes = classes|merge([modifier_class]) %}{% endif -%}
{%- set media = medias is defined ? medias.data|first : {} -%}
{% set mediaFormats = mediaFormats is defined ? mediaFormats : [] %}

<article class="{{ classes|default([])|join(' ') }}">
    <a href="#">
        {% include '../_elements/media.twig' with {
            'media': media,
            'classes': mediaClasses|default([]),
            'defaultFormat': defaultFormat,
            'formats': mediaFormats,
            'sizes': mediaSizes|default([])
        } only %}
        {% include '../_elements/teaser.twig' with {
            'title': title,
            'titleTag': titleTag,
            'theme': theme,
            'label': label,
            'summary': summary,
            'magazine': magazine is defined ? magazine,
        } only %}
    </a>
    <ul class="preview-related">
        {% for item in list %}
            <li><a class="preview-related-link" href="#">
                <svg height="11" width="11"><use xlink:href="#symbol-arrow-right"></use></svg>
                {{ item.label }}
            </a></li>
        {% endfor %}
    </ul>
    <div class="preview-footer pa1">
        {{ footer }}
    </div>
</article>
