
// Text alignment
//
// Text alignement classes.
//
// .align-right      - right-aligned text
// .align-left       - left-aligned text
// .align-center     - centered text
// .align-justify    - justified text
//
// Markup: helpers-align.twig
//
// Styleguide: Helpers.Alignment
.align
    &-center
        text-align center

    &-left
        text-align left

    &-right
        text-align right

    &-justify
        text-align justify
