// Borders
//
// A set of light gray solid and dotted borders.
//
// - **.btd**: border top dotted
// - **.brd**: border right dotted
// - **.bbd**: border bottom dotted
// - **.bld**: border left dotted
// - **.bts**: border top solid
// - **.brs**: border right solid
// - **.bbs**: border bottom solid
// - **.bls**: border left solid
//
// Markup: border.twig
//
// Styleguide Helpers.Borders
.btd
    border-top 1px dashed var(--color-borders)

.brd
    border-right 1px dashed var(--color-borders)

.bbd
    border-bottom 1px dashed var(--color-borders)

.bld
    border-left 1px dashed var(--color-borders)

.bts
    border-top 1px solid var(--color-borders)

.brs
    border-right 1px solid var(--color-borders)

.bbs
    border-bottom 1px solid var(--color-borders)

.bls
    border-left 1px solid var(--color-borders)
