// Text colors
//
// Generic styles for text colors.
//
// Markup: colors-text.twig
//
// Styleguide: Helpers.Colors.text
$helpers-colors ?= merge($colors-themes, {
    base: $color-base,
    native: $color-native,
    native-foreground: $color-native-foreground,
    highlight: $color-highlight,
})

for key, value in $helpers-colors
    $name = replace('theme-', '', key)
    $var = s('var(--color-%s)', unquote(key))

    .color-{$name}
        color $var
