// Colors
//
// Generic styles for text, borders and backgrounds colors.
//
// @TODO: Add examples for all colors : text | borders | backgrounds
//
// Markup: colors.twig
//
// Styleguide: Helpers.Colors
$helpers-colors ?= merge($colors-themes, {
    base: $color-base,
    native: $color-native,
    highlight: $color-highlight,
})

for key, value in $helpers-colors
    $name = replace('theme-', '', key)
    $var = s('var(--color-%s)', unquote(key))

    .border-color-{$name}
        border-color $var

    .bg-{$name}
        background-color $var

    .color-{$name}
        color $var
