// Background colors
//
// Generic styles for background colors.
//
// Markup: colors-bg.twig
//
// Styleguide: Helpers.Colors.bg
$helpers-colors ?= merge($colors-themes, {
    base: $color-base,
    native: $color-native,
    native-foreground: $color-native-foreground,
    highlight: $color-highlight,
})

for key, value in $helpers-colors
    $name = replace('theme-', '', key)
    $var = s('var(--color-%s)', unquote(key))

    .bg-{$name}
        background-color $var
