// Cursor
//
// Change cursor in differents kind of specific situations
// - **.cursor-zoom-in**: Change cursor to a magnifying glass to indicate to the user a zoom + .
//
// Markup: helpers-cursor.twig
//
// Styleguide: Helpers.Cursor

.cursor
    &-zoomIn
        cursor zoom-in
