// No Scroll
//
// `.noscroll` disable the scroll inside an element
//
// Markup: <body class="noscroll">The scroll is disabled on the body</body>
//
// Styleguide: Helpers.NoScroll
.noscroll
    position fixed
    top 0
    left 0
    right 0
    -webkit-overflow-scrolling auto
