// Text format
//
// Fonts helpers.
//
// .bold               - bold text
// .italic             - italic text
// .uppercase          - uppercase text
// .font-secondary     - small uppercase text (used on labels and pagers for example)
//
// Markup: helpers-text-format.twig
//
// Styleguide: Helpers.TextFormat
.bold
    font-weight bold

.italic
    font-style italic

.uppercase
    text-transform uppercase

.lowercase
    text-transform lowercase

.font-secondary
    {fontSecondary}
