// Light
//
// Every design’s colors are declined as CSS custom properties.
//
// Styleguide: CSSvariables.light
/:root
/[data-theme=light]
    --light-min: 0%
    --light-max: 100%

/[data-theme=dark]
    --light-min: 100%
    --light-max: 0%
