{# `co_list-demo` & `co_list-demo-item is only for the demo's style. It's not a part of colette #}
<p><b>Example 1</b> - Simple column list:</p>
<div class="list co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 2</b> - Responsiveless list on 2 columns:</p>
<div class="list list-by2 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 3</b> - List on 2 columns above medium breakpoint:</p>
<div class="list list-md-by2 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 4</b> - Responsiveless list on 3 columns:</p>
<div class="list list-by3 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 5</b> - List on 3 columns above small breakpoint:</p>
<div class="list list-sm-by3 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 6</b> - Responsiveless list on 4 columns:</p>
<div class="list list-by4 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
<p><b>Example 7</b> - Simple column that converts to 2 columns above small breakpoint, then on 4 columns above wide breakpoint: </p>
<div class="list list-sm-by2 list-md-by2 list-lg-by4 co_list-demo">
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
    <div class="list-item co_list-demo-item"></div>
</div>
