// Colors
//
// Every colors in this Colettes are variables.
//
// Layout and UI generic colors
//
// Colors:
// --color-base:         #4c4d4e - text color
// --color-links:        #0062D9 - links color
// --color-highlight:    #cc190f - highlighted text color
// --color-footer:       #73a0d6 - footer color
// --color-native:       #fff7e2 - ads and external contents
//
// Styleguide: Design.Colors
$color-base ?= #4c4d4e
$color-links ?= #0062D9
$color-highlight ?= #cc190f
$color-footer ?= #0b4892
$color-native ?= #fff7e2

// Gray shades
// $color-gray-min ?= hsl(0, 0%, 0%)
// $color-gray-1 ?= hsl(0, 0%, 3%)
// $color-gray-2 ?= hsl(0, 0%, 5%)
// $color-gray-3 ?= hsl(0, 0%, 9%)
// $color-gray-4 ?= hsl(0, 0%, 22%)
// $color-gray-5 ?= hsl(0, 0%, 28%)
// $color-gray-6 ?= hsl(0, 0%, 47%)
$color-gray-7 ?= #878787
$color-gray-8 ?= #b7b7b7
$color-gray-9 ?= #c7c7c7
$color-gray-10 ?= #e7e7e7
$color-gray-11 ?= #f1f1f1
$color-gray-12 ?= #f8f8f8
$color-gray-max ?= #fff

// Alerts colors
//
// Colors for alerts messages.
//
// Colors:
// --color-info:    #0b4892 - Info
// --color-success: #3c7a09 - Success
// --color-warning: #b05105 - Warning
// --color-error:   #cc190f - Error
//
// Weight: 2
//
// Styleguide: Design.Colors.Alerts
$color-info ?= #0b4892
$color-success ?= #3c7a09
$color-warning ?= #b05105
$color-error ?= #cc190f

// Black & White
//
// Universal real black and white, use for shade and lights.
//
// Colors:
// $color-black: #000 - real black
// $color-white: #fff - real white
//
// Weight: 3
//
// Styleguide: Design.Colors.BnW
$color-black ?= #000
$color-white ?= #fff

// Theme colors
//
// The color palette is based upon 20 Minutes editorial color chart:
// - each editorial section has a related color
// - we use section names as aliases to define color variables and classes names
// - this colors should respect at least a 4.5 (`$contrast`) ratio relatively to white
// - if ratio is insufficient some modules add a text-shadow or swith to a darker color
//
// Colors:
// --color-theme-default:       #0b4892 - theme default
// --color-theme-sport:         #00b9f3 - theme sport
// --color-theme-entertainment: #cc190f - theme entertainment
// --color-theme-economy:       #053042 - theme economy
// --color-theme-community:     #930b48 - theme community
// --color-theme-weird:         #ef2a82 - theme weird
// --color-theme-partner:       #ff5400 - theme partner
// --color-theme-planet:        #48930b - theme planet
// --color-theme-media:         #000000 - theme media
// --color-theme-hightech:      #686868 - theme hightech
// --color-theme-summer:        #cc4c3c - theme summer
//
// Weight: 4
//
// Styleguide: Design.Colors.Theme
$color-theme-default ?= #0b4892
$color-theme-sport  ?= #00b9f3
$color-theme-entertainment ?= #cc190f
$color-theme-economy ?= #053042
$color-theme-community ?= #930b48
$color-theme-weird ?= #ef2a82
$color-theme-partner ?= #ff5400
$color-theme-planet ?= #48930b
$color-theme-media ?= #000
$color-theme-hightech ?= #686868
$color-theme-summer ?= #cc4c3c

/* Sections */
$colors-themes ?= {
    theme-default: $color-theme-default
    theme-sport: $color-theme-sport
    theme-entertainment: $color-theme-entertainment
    theme-economy: $color-theme-economy
    theme-community: $color-theme-community
    theme-weird: $color-theme-weird
    theme-partner: $color-theme-partner
    theme-planet: $color-theme-planet
    theme-media: $color-theme-media
    theme-hightech: $color-theme-hightech
    theme-summer: $color-theme-summer
}

// Social colors
//
// The social color palette is used for share and socials buttons.
//
// Colors:
// --color-social-dailymotion: #2068D4 - dailymotion
// --color-social-facebook:    #4c64a0 - facebook
// --color-social-flipboard:   #f52828 - flipboard
// --color-social-github:      #791e8f - github
// --color-social-googleplus:  #d14836 - googleplus
// --color-social-hootsuite:   #000000 - hootsuite
// --color-social-instagram:   #ff0040 - instagram
// --color-social-linkedin:    #0177b5 - linkedin
// --color-social-messenger:   #3d6bfb - messenger
// --color-social-pinterest:   #bd081c - pinterest
// --color-social-pocket:      #ed4054 - pocket
// --color-social-sms:         #48930b - sms
// --color-social-snapchat:    #fdfe00 - snapchat
// --color-social-twitter:     #00a7e7 - twitter
// --color-social-whatsapp:    #01a85a - whatsapp
// --color-social-youtube:     #eb3223 - youtube
//
// Styleguide: Design.Colors.Social
$color-social-dailymotion ?= #2068D4
$color-social-facebook ?= #4c64a0
$color-social-flipboard ?= #f52828
$color-social-github ?= #791e8f
$color-social-googleplus ?= #d14836
$color-social-hootsuite ?= #000000
$color-social-instagram ?= #ff0040
$color-social-linkedin ?= #0177b5
$color-social-messenger ?= #3d6bfb
$color-social-pinterest ?= #bd081c
$color-social-pocket ?= #ed4054
$color-social-sms ?= #48930b
$color-social-snapchat ?= #fdfe00
$color-social-twitter ?= #00a7e7
$color-social-whatsapp ?= #01a85a
$color-social-youtube ?= #eb3223

$colors-socials ?= {
    social-dailymotion: $color-social-dailymotion
    social-facebook: $color-social-facebook
    social-flipboard: $color-social-flipboard
    social-github: $color-social-github
    social-googleplus: $color-social-googleplus
    social-hootsuite: $color-social-hootsuite
    social-instagram: $color-social-instagram
    social-linkedin: $color-social-linkedin
    social-messenger: $color-social-messenger
    social-pinterest: $color-social-pinterest
    social-pocket: $color-social-pocket
    social-sms: $color-social-sms
    social-snapchat: $color-social-snapchat
    social-twitter: $color-social-twitter
    social-whatsapp: $color-social-whatsapp
    social-youtube: $color-social-youtube
}
