// Fonts
//
// All fonts in the project are set within variables.
//
// $fontstack-base ?= 'Helvetica Neue', Helvetica, Arial, sans-serif                             - default font / body text
// $fontstack-headings ?= 'Open Sans WebFont', 'Arial', 'Helvetica Neue', Helvetica, sans-serif  - headings
// $fontstack-secondary ?= 'Open Sans WebFont', 'Helvetica Neue', Helvetica, sans-serif          - call to action, pagers… etc.
//
// Styleguide: Settings.Fonts
$fontstack-base ?= 'Helvetica Neue', Helvetica, Arial, sans-serif // default font / body text
$fontstack-headings ?= 'Open Sans WebFont', Arial, 'Helvetica Neue', Helvetica, sans-serif // headings
$fontstack-secondary ?= 'Open Sans WebFont', 'Helvetica Neue', Helvetica, sans-serif // article label, call to action, pagers... etc.
