// Font loading strategy
//
// $fontload ?= optional         - value for `font-display` property.
// $fontload-js ?= true          - true if you choose js solution integrated to Colette
// $fontload-class ?= 'webfont'  - className added to `<html>` when fonts are loaded
//
// Styleguide: Settings.Fonts.Load
$fontload ?= optional
$fontload-js ?= true
$fontload-class ?= 'webfont'
