// Default line height
//
// $lh ?= _rem(27px) - default `line-height` for default `font-size`.
// $lh-gap ?= _rem(2px) - minimal difference between `line-height` and `font-size`.
// $lh-division ?= .5 - minimal division off lines in vertical rythm
//
// Styleguide: Design.Typography.LineHeight
$lh ?= _rem(27px)
$lh-gap ?= _rem(2px)
$lh-division ?= .5
