// Z-Index
//
// Colette provides 3 default `z-index`
//
// ```stylus
// $zIndex ?= {
//     base: 1
//     overlay: 10
//     layout: 20
//     modals: 30
// }
// ```
//
// **Usage example**
// ```stylus
// /* stylus file */
// .foo
//     z-index: zIndex.layout + 4
// ```
//
// will compile to:
// ```css
// /* CSS file */
// .foo
//     z-index: 24
// ```
//
// Styleguide: Settings.Z-Index
$zIndex ?= {
    base: 1
    overlay: 10
    layout: 20
    modals: 30
}
