/* Open Sans */
@font-face
    font-family "Open Sans"
    font-weight normal
    font-style normal
    src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight bold
    src url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight bold
    font-style italic
    src url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff')

@font-face
    font-family "Open Sans"
    font-weight 900
    src url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype')

/* icons */
@font-face
    font-family '20mn'
    src url('../fonts/20mn.eot')
    src url('../fonts/20mn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/20mn.woff') format('woff')
    font-weight normal
    font-style normal
