/* borders */
.bbd
    border-bottom 1px dashed #c7c7c7

.btd
    border-top 1px dashed #c7c7c7

.bts
    border-top 1px solid #c7c7c7

.brs
    border-right 1px solid #c7c7c7

.bbs
    border-bottom 1px solid #c7c7c7

.bls
    border-left 1px solid #c7c7c7
