// Borders
//
// _layout/_borders.styl
//
// A set of light grey solid and dotted borders.
//
// .btd     - border top dotted
// .brd     - border right dotted
// .bbd     - border bottom dotted
// .bld     - border left dotted
// .bts     - border top solid
// .brs     - border right solid
// .bbs     - border bottom solid
// .bls     - border left solid
//
// Styleguide Layout.Borders
.btd
    border-top 1px dashed #c7c7c7

.brd
    border-right 1px dashed #c7c7c7

.bbd
    border-bottom 1px dashed #c7c7c7

.bld
    border-left 1px dashed #c7c7c7

.bts
    border-top 1px solid #c7c7c7

.brs
    border-right 1px solid #c7c7c7

.bbs
    border-bottom 1px solid #c7c7c7

.bls
    border-left 1px solid #c7c7c7
