/*
 * A 'box' is a content container displayed on homepage
 * (= white bg, grey border, 1px-padding
 */

.box
    position relative
    padding 1px
    border #c7c7c7
    background-color #ffffff

/* Box footer */
.box-footer
    @extends .font-secondary
    @extends .clearfix
    padding-top .6rem
    padding-bottom .3rem
    background-color $color-bg-base
