// Box
//
// _layout/_box.styl
//
// A 'box' is a content container.
// It can be displayed as a block (on homepage or listing pages) or as a page (content view)
//
// Markup: box.twig
//
// Styleguide Layout.Box
.box
    position relative
    padding 1px
    border #c7c7c7
    background-color #ffffff

.box-footer
    @extends .font-secondary
    @extends .clearfix
    padding-top .6rem
    padding-bottom .3rem
    background-color $color-bg-base
