// Buttons
//
// Styles for round icon buttons.
//
// - **[data-icon="facebook"]**: facebook button
// - **[data-icon="googleplus"]**: googleplus button
// - **[data-icon="hootsuite"]**: hootsuite button
// - **[data-icon="linkedin"]**: linkedin button
// - **[data-icon="pinterest"]**: pinterest button
// - **[data-icon="pocket"]** pocket button
// - **[data-icon="sms"]** sms button
// - **[data-icon="twitter"]**: twitter button
// - **[data-icon="whatsapp"]**: whatsapp button
//
// Markup: button.twig
//
// Styleguide Layout.Buttons
//

/*
 * Defines styles for buttons
 * /
/ * 1. Default button (text only) */
.btn
    padding .5em 1.5em
    border-radius 20em
    font-family $font-secondary
    font-size .875em
    font-weight bold
    text-transform uppercase
    line-height 1

for color in $colors
    .btn-{color}
        background-color color[1]
        color white

/* 2. Icon buttons (icon only)
 *   Generic styles are set within .btn-icon declaration
 *   => we use $buttons array to set specific styles (e.g. background-color|color|font-size etc)
 */
$buttons = {
    'facebook': {
        'background-color': #4c64a0
    }
    'googleplus': {
        'background-color': #d14836
    }
    'hootsuite': {
        'background-color': #000000
    }
    'linkedin': {
        'background-color': #0177b5
    }
    'pinterest': {
        'background-color': #bd081c
    }
    'pocket': {
        'background-color': #ffffff
        'color': #ed4054
        'border': .2rem solid #b7b7b7
        'line-height': 3.2srem
    }
    'sms': {
        'background-color': #48930b
        'font-size': 2.2rem
        'line-height': 3.5srem
    }
    'twitter': {
        'background-color': #00a7e7
    }
    'whatsapp': {
        'background-color': #01a85a
    }
}

.btn-icon
    /* generic styles */
    display inline-block
    width 3rem
    height 3rem
    border-radius 50%
    background-color $color-secondary
    font-size 1.8rem
    line-height 3.3rem
    text-align center
    color white

    /* button per button styles */
    for btn in $buttons
        &[data-icon={btn}]
            for prop, value in $buttons[btn]
                {prop} value
