/*
 * Defines styles for icon-in-a-circle buttons
 *
 * Generic styles are set within .btn-icon declaration
 * => we use $buttons array to set specific styles (e.g. background-color|color|font-size etc)
 */

$buttons = {
    'facebook': { 'background-color': #4c64a0 },
    'googleplus': { 'background-color': #d14836, 'font-size': 2.1rem },
    'hootsuite': { 'background-color': #000000, 'font-size': 2.1rem },
    'linkedin': { 'background-color': #0177b5 },
    'pinterest': { 'background-color': #bd081c },
    'pocket': { 'background-color': #ffffff, 'color': #ed4054, 'border': .2rem solid #b7b7b7 },
    'sms': { 'background-color': #48930b },
    'twitter': { 'background-color': #00a7e7 },
    'whatsapp': { 'background-color': #01a85a, 'font-size': 2.1rem },
}

.btn-icon
    /* generic styles */
    width 3rem
    height 3rem
    border-radius 50%
    background-color $color-secondary
    font-size 1.6rem
    line-height 3rem
    text-align center
    color white

    /* button per button styles */
    for btn in $buttons
        &[data-icon={btn}]
            for prop, value in $buttons[btn]
                {prop} value
