// Footer
//
// Styles for basic footer.
//
// Markup: footerbar.twig
//
// Styleguide Layout.Footer
.footerbar
    _pt(.5)
    _pb(.5)
    _pr(2)
    _pl(2)
    {fontSecondary}
    clear both
    width 100%
    min-height 3rem
    border-top 3px solid $color-footer
    background-color $color-default
    color $color-footer

    a
        color $color-base-lighten

        &:hover
            text-decoration underline
