// Footer
//
// Styles for basic footer.
//
// Markup: footer.twig
//
// Styleguide Layout.Footer
.footerbar
    {fontSecondary}
    clear both
    width 100%
    min-height 30px
    padding 6px 24px
    border-top 3px solid $color-footer
    background-color $color-default
    color $color-footer

    ul
        float right

    li
        display inline
        padding 0 24px
        border-left 1px solid $color-footer

        &:first-child
            padding-left 0
            border-left none

    a
        color $color-base-lighten

        &:hover
            text-decoration underline
