footer
    @extends $.bg-default
    @extends .font-secondary
    clear both
    width 100%
    min-height 30px
    padding 6px 24px
    border-top 3px solid #73a0d6
    color #73a0d6

    ul
        float right

    li
        display inline
        padding 0 24px
        border-left 1px solid #73a0d6

        &:first-child
            padding-left 0
            border-left none

    a
        color #e7e7e7

        &:hover
            text-decoration underline
