// Grid
//
// _layout/_grid.styl
//
// Colette comes with a responsive, 12-columns based, Bootstrap-inspired grid system.
//
// We define 3 breakpoints:
// - small: 420px
// - medium: 768px
// - and large: 960px
//
// and 3 related media queries:
// - [sm] 420px <= screen-width
// - [md] 768px <= screen-width
// - [lg] 960px <= screen-width
//
// Grid classes allow us to set column width according to the targeted media query:
//
// <table>
//  <thead>
//      <tr>
//          <th>Breakpoint</th>
//          <th>sm</th>
//          <th>md</th>
//          <th>lg</th>
//      </tr>
//  </thead>
//  <tbody>
//      <tr>
//          <td>Media query</td>
//          <td align="center">min-width: 420px</td>
//          <td align="center">min-width: 768px</td>
//          <td align="center">min-width: 960px</td>
//      </tr>
//      <tr>
//          <td>Class name</td>
//          <td align="center">.col-sm-[n]</td>
//          <td align="center">.col-md-[n]</td>
//          <td align="center">.col-lg-[n]</td>
//      </tr>
//      <tr>
//          <td>Css declaration</td>
//          <td colspan="3" align="center">{ width: ([n] / 12) * 100 }</td>
//      </tr>
//  </tbody>
// </table>
//
// **Usage**
// Columns should come within a `<div class="clearfix>` container.
//
// Markup: grid.twig
//
// Styleguide Layout.Grid
$spanWidth = 100 / $columns

@media $media-sm
    for $i in (1..$columns)
        .col-sm-{$i}
            float left
            width round($spanWidth * $i, 3) * 1%

        .offset-sm-{$i}
            margin-left round($spanWidth * $i, 3) * 1%

@media $media-md
    for $i in (1..$columns)
        .col-md-{$i}
            float left
            width round($spanWidth * $i, 3) * 1%

        .offset-md-{$i}
            margin-left round($spanWidth * $i, 3) * 1%

@media $media-lg
    for $i in (1..$columns)
        .col-lg-{$i}
            float left
            width round($spanWidth * $i, 3) * 1%

        .offset-lg-{$i}
            margin-left round($spanWidth * $i, 3) * 1%
