/*
 * Handles grid system
 * This takes a lot of inspiration from Bootstrap grid system
 */
/* Generate default grid columns and offsets, according to breakpoints and media queries defined in settings */
_column(size)
    float left
    width round(size * 100 / $columns, 3) * 1%

_offset(size)
    margin-left round(size * 100 / $columns, 3) * 1%

for breakpoint,query in $breakpoints
    @media query
        for i in (1..$columns)
            .col-{breakpoint}-{i}
                _column(i)

            .offset-{breakpoint}-{i}
                _offset(i)

/* Mixin to add grid-based width to custom selectors */
_gridColumn(breakpoint, size)
    @media $breakpoints[breakpoint]
        _column(size)
