// Icons
//
// Use data attributes to insert icons: `<p data-icon="[icon_alias]">`
//
// **Brand icons**
// <p data-icon="logo-21e"> logo-21e</p>
// <p data-icon="logo-s"> logo-s</p>
// <p data-icon="logo"> logo</p>
//
// **Social icons**
// <p data-icon="facebook"> facebook</p>
// <p data-icon="github"> github</p>
// <p data-icon="google"> google</p>
// <p data-icon="googleplus"> googleplus</p>
// <p data-icon="hootsuite"> hootsuite</p>
// <p data-icon="linkedin"> linkedin</p>
// <p data-icon="pinterest"> pinterest</p>
// <p data-icon="pocket"> pocket</p>
// <p data-icon="sms"> sms</p>
// <p data-icon="snapchat"> snapchat</p>
// <p data-icon="twitter"> twitter</p>
// <p data-icon="whatsapp"> whatsapp</p>
//
// **UI icons**
// <p data-icon="arrow-up"> arrow-up</p>
// <p data-icon="arrow-right"> arrow-right</p>
// <p data-icon="arrow-down"> arrow-down</p>
// <p data-icon="arrow-left"> arrow-left</p>
// <p data-icon="calendar"> calendar</p>
// <p data-icon="cinema"> cinema</p>
// <p data-icon="clock"> clock</p>
// <p data-icon="clock2"> clock2</p>
// <p data-icon="comments"> comments</p>
// <p data-icon="cooking"> cooking</p>
// <p data-icon="crosswords"> crosswords</p>
// <p data-icon="download"> download</p>
// <p data-icon="folder"> folder</p>
// <p data-icon="games"> games</p>
// <p data-icon="grid"> grid</p>
// <p data-icon="home"> home</p>
// <p data-icon="image"> image</p>
// <p data-icon="images"> images</p>
// <p data-icon="link"> link</p>
// <p data-icon="logout"> logout</p>
// <p data-icon="mail"> mail</p>
// <p data-icon="menu"> menu</p>
// <p data-icon="mobile"> mobile</p>
// <p data-icon="more"> more</p>
// <p data-icon="photo"> photo</p>
// <p data-icon="play"> play</p>
// <p data-icon="print"> print</p>
// <p data-icon="refresh"> refresh</p>
// <p data-icon="search"> search</p>
// <p data-icon="settings"> settings</p>
// <p data-icon="share"> share</p>
// <p data-icon="social"> social</p>
// <p data-icon="survey"> survey</p>
// <p data-icon="tv"> tv</p>
// <p data-icon="user"> user</p>
// <p data-icon="video"> video</p>
// <p data-icon="view"> view</p>
//
// **Zodiac icons**
// <p data-icon="aries"> aries</p>
// <p data-icon="taurus"> taurus</p>
// <p data-icon="gemini"> gemini</p>
// <p data-icon="cancer"> cancer</p>
// <p data-icon="leo"> leo</p>
// <p data-icon="virgo"> virgo</p>
// <p data-icon="libra"> libra</p>
// <p data-icon="scorpio"> scorpio</p>
// <p data-icon="sagittarius"> sagittarius</p>
// <p data-icon="capricorn"> capricorn</p>
// <p data-icon="aquarius"> aquarius</p>
// <p data-icon="pisces"> pisces</p>
//
// Styleguide Layout.Icons
$icons = {
    /* brand */
    'logo-21e': "'",
    'logo-s': 'l',
    'logo': 'L',

    /* social */
    'facebook': 'F',
    'github': 'H',
    'google': 'g',
    'googleplus': 'G',
    'hootsuite': 'O',
    'linkedin': 'n',
    'pinterest': 'P',
    'pocket': 'K',
    'sms': 'x',
    'snapchat': 'N',
    'twitter': 'T',
    'whatsapp': 'W',

    /* ui */
    'arrow-down': '~',
    'arrow-left': '<',
    'arrow-right': '>',
    'arrow-up': '^',
    'calendar': ':',
    'cinema': 'u',
    'clock': 'd',
    'clock2': 'D',
    'comments': 'b',
    'cooking': 'k',
    'crosswords': '#',
    'download': 'C',
    'folder': 'f',
    'games': 'e',
    'grid': '=',
    'home': 'h',
    'image': 'i',
    'images': 'I',
    'link': '&',
    'logout': 'A',
    'mail': 'm',
    'menu': 'a',
    'mobile': '!',
    'more': '+',
    'photo': 'c',
    'pin': 'M',
    'play': 'p',
    'print': 'r',
    'refresh': 'R',
    'search': 'z',
    'settings': 'w',
    'share': 's',
    'social': '%',
    'survey': 'B',
    'tag': 't',
    'tv': 'S',
    'user': 'u',
    'video': 'v',
    'view': 'o',

    /* zodiac */
    'aries': 'Ï',
    'taurus': 'Ö',
    'gemini': 'Ü',
    'cancer': 'Ÿ',
    'leo': 'Ê',
    'virgo': 'Î',
    'libra': 'Â',
    'scorpio': 'Ô',
    'sagittarius': 'Û',
    'capricorn': 'Y',
    'aquarius': 'Ä',
    'pisces': 'Ë',
}

[data-icon]
[data-icon-after]
    &:before
    &:after
        font-family "20mn"
        speak none
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1

    a&
        display block

    em
        display none

    p
    ul
        overflow hidden

for key, value in $icons
    [data-icon={key}]:before
    [data-icon-after={key}]:after
         content value
