/* margins and paddings */
/* Create mixins to add gutter-based paddings and margins */
/* @TODO: allow breakpoint option */
_pa(i)
    padding: i * $gutter * .1rem

_pt(i)
    padding-top: i * $gutter * .1rem

_pr(i)
    padding-right: i * $gutter * .1rem

_pb(i)
    padding-bottom: i * $gutter * .1rem

_pl(i)
    padding-left: i * $gutter * .1rem

_ma(i)
    margin: i * $gutter * .1rem

_mt(i)
    margin-top: i * $gutter * .1rem

_mr(i)
    margin-right: i * $gutter * .1rem

_mb(i)
    margin-bottom: i * $gutter * .1rem

_ml(i)
    margin-left: i * $gutter * .1rem

/* Set a few default helpers */
for i in (0..6)
    .pa{i}
        _pa(i)

    .pt{i}
        _pt(i)

    .pr{i}
        _pr(i)

    .pb{i}
        _pb(i)

    .pl{i}
        _pl(i)

    .ma{i}
        _ma(i)

    .mt{i}
        _mt(i)

    .mr{i}
        _mr(i)

    .mb{i}
        _mb(i)

    .ml{i}
        _ml(i)
