// Spaces
//
// _layout/_spaces.styl
//
// A set of margins and paddings, based on a 1.2rem gutter width.
//
// A margin or padding is a multiple (from 1 to 6) of the gutter width,
// and can be applied either on top | right | bottom | left | all side(s) of an element.
//
// <p class="pa1" style="background:#e7e7e7">Example of `.pa1` class (1 x gutter-width padding on all side).</p>
// <p class="pt3" style="background:#e7e7e7">Example of `.pt3` class (1 x gutter-width padding-top).</p>
// <p class="pl6" style="background:#e7e7e7">Example of `.pl6` class (1 x gutter-width padding-left).</p>
//
// @TODO <br />
// [Issue #22](https://github.com/20minutes/colette/issues/22): Create mixins for spaces classes
//
// .pt[n]     - padding-top: [n] x 1.2rem
// .pr[n]     - padding-right: [n] x 1.2rem
// .pb[n]     - padding-bottom: [n] x 1.2rem
// .pl[n]     - padding-left: [n] x 1.2rem
// .pa[n]     - padding: [n] x 1.2rem
// .mt[n]     - margin-top: [n] x 1.2rem
// .mr[n]     - margin-right: [n] x 1.2rem
// .mb[n]     - margin-bottom: [n] x 1.2rem
// .ml[n]     - margin-left: [n] x 1.2rem
// .ma[n]     - margin: [n] x 1.2rem
//
//
// Styleguide Layout.Spaces
$gutter = 12 // gutter width
for $i in (0..6)
    .pa{$i}
        padding $gutter * $i * 0.1rem

    .pt{$i}
        padding-top $gutter * $i * 0.1rem

    .pr{$i}
        padding-right $gutter * $i * 0.1rem

    .pb{$i}
        padding-bottom $gutter * $i * 0.1rem

    .pl{$i}
        padding-left $gutter * $i * 0.1rem

    .ma{$i}
        margin $gutter * $i * 0.1rem

    .mt{$i}
        margin-top $gutter * $i * 0.1rem

    .mr{$i}
        margin-right $gutter * $i * 0.1rem

    .mb{$i}
        margin-bottom $gutter * $i * 0.1rem

    .ml{$i}
        margin-left $gutter * $i * 0.1rem
