<p><b>Example 1</b> - Columns convert to clearfixs under medium breakpoint:</p>
<div class="clearfix">
    <div class="col-md-2">col-md-2</div>
    <div class="col-md-2">col-md-2</div>
    <div class="col-md-2">col-md-2</div>
    <div class="col-md-2">col-md-2</div>
    <div class="col-md-2">col-md-2</div>
    <div class="col-md-2">col-md-2</div>
</div>
<hr />
<p><b>Example 2</b> - Columns convert to clearfixs under small breakpoint:</p>
<div class="clearfix">
    <div class="col-sm-4">col-sm-4</div>
    <div class="col-sm-4">col-sm-4</div>
    <div class="col-sm-4">col-sm-4</div>
</div>
<hr />
<p><b>Example 3</b> - Col3 should convert to clearfix under medium breakpoint, and Col1, Col2 under small breakpoint:</p>
<div class="clearfix">
    <div class="col-md-8">
        <div class="col-sm-6">Col1</div>
        <div class="col-sm-6">Col2</div>
    </div>
    <div class="col-md-4">Col3</div>
</div>
