<p><b>Example 1</b> - Columns simple use responsiveless:</p>
<div class="co_grid-demo g">
    <div class="g-col-6">g-col-6</div>
    <div class="g-col-6">g-col-6</div>
</div>
<p><b>Example 2</b> - Columns convert to clearfixs under medium breakpoint:</p>
<div class="co_grid-demo g">
    <div class="g-col-md-2">g-col-md-2</div>
    <div class="g-col-md-2">g-col-md-2</div>
    <div class="g-col-md-2">g-col-md-2</div>
    <div class="g-col-md-2">g-col-md-2</div>
    <div class="g-col-md-2">g-col-md-2</div>
    <div class="g-col-md-2">g-col-md-2</div>
</div>
<p><b>Example 3</b> - Columns convert to clearfixs under small breakpoint:</p>
<div class="co_grid-demo g">
    <div class="g-col-sm-4">g-col-sm-4</div>
    <div class="g-col-sm-4">g-col-sm-4</div>
    <div class="g-col-sm-4">g-col-sm-4</div>
</div>
<p><b>Example 4</b> - Col3 should convert to clearfix under medium breakpoint, and Col1, Col2 under small breakpoint:</p>
<div class="co_grid-demo g">
    <div class="g-col-md-8 g">
        <div class="g-col-sm-6">Col1 (g-col-sm-6)</div>
        <div class="g-col-sm-6">Col2 (g-col-sm-6)</div>
    </div>
    <div class="g-col-md-4">Col3 (g-col-md-4)</div>
</div>
