<div class="spinner">
    <span class="bounce1"></span>
    <span class="bounce2"></span>
    <span class="bounce3"></span>
</div>
<div class="spinner spinner-small">
    <span class="bounce1"></span>
    <span class="bounce2"></span>
    <span class="bounce3"></span>
</div>
