$co-color-primary = #44638a
$co-color-secondary = #000000 // darkest color
$co-color-tertiary = #ffffff // lightest color
$co-color-highlight = #cc3366
$co-color-borders = #c7d0dc
$co-color-background = #a1b1c4
$co-color-body = #f1f1f1


// do not style html elements in doc css


.co
    background-color $co-color-body
    color #333


    &_markup
    &_section-home
    &_subsection
        pre
            padding 1em
            margin 0 0 1.6rem
            border-radius .25em
            border 1px solid $co-color-borders
            background-color $co-color-tertiary
            font-size 1em
            line-height 1.2

    &_wrapper
        @media screen and (max-width: 959px)
            padding-top 4.8rem /* menu button height */

        @media screen and (min-width: 960px) and (max-width: 1503px) /* .co_content width + 2 * .co_sidebar width */
            // when screen size < 1503px the sidebar overlays the content, so we need to add a padding on the wrapper */
            // when screen size < 960px the sidebar isn't displayed, so we don't need that padding on the wrapper */
            padding-left 24rem

    &_page
        position relative
        z-index 1

    &_content
        width 100%
        max-width 1024px
        margin 0 auto
        padding 0 1.2em



    for i in 1..6
        &_section-home h{i}
        &_section-h{i}
            padding 0 0 .25em
            margin 0 auto
            font-weight normal
            color $co-color-secondary

            a
                color inherit

                &:hover
                    color $co-color-primary

                    strong
                        color inherit

    /* trigger sidebar */
    &_trigger-sidebar
        position fixed
        top 0
        right 0
        left 0
        z-index 10
        display flex
        align-items center
        height 4.8rem
        background-color darken($co-color-background, 40)

        button
            background-color transparent

        svg
            fill $co-color-tertiary

        &-animated
            transition all .15s ease-in-out

        &-pinned
            transform translateY(0%)

        &-unpinned
            transform translateY(-100%)

        /* brand */
        .co_brand
            background-color transparent
            color $co-color-primary
            font-size 2.7em

        @media screen and (min-width: 960px)
            display none


    /* sidebar */
    &_sidebar
        position fixed
        z-index 20
        top 0
        bottom 0
        left 0
        margin 0
        padding-left 0
        width 24rem
        background-color $co-color-tertiary
        box-shadow 2px 0px 4px -2px $co-color-secondary
        overflow hidden
        transition transform .2s

        &:hover
            overflow-y auto

        @media screen and (max-width: 959px)
            transform translateX(-100%)

            &-open
                transform translateX(0)
                overflow-y: auto

        li
            list-style none

        a
            display block
            padding .75em 1.5em
            background-color rgba($co-color-borders, 0)
            transition background-color .3s

            &:hover
                background-color rgba($co-color-borders, .4)

        &-children
            padding-left 0
            display none

            li
                a
                    padding-left 3em

        &-active
            > a
                color $co-color-highlight

            ul
                display block

        &-brand
            a
                position relative
                height calc(6rem + 1.5em) /* logo height + vertical paddings */

            a:hover
                background-color transparent

            svg
                position absolute
                left calc(24rem/2 - 6rem/2) /* sidebar width / 2 - logo width / 2 AVOID % here, otherwise it will cause the logo to blink when the scrollbar appears */
                width 6rem
                height @width
                fill $co-color-primary

    /* overlay */
    &_overlay
        display block
        position fixed
        z-index 15
        top 0
        right 0
        bottom 0
        left 0
        background-color rgba(0, 0, 0, .8)
        opacity 1
        transition opacity .2s

        &[aria-hidden=true]
            display none
            opacity 0

        > button
            position absolute
            top 1em
            left calc(1em + 24rem) /* 1em margin + sidebar width */
            background-color transparent
            color $co-color-tertiary
            font-size 2em
            line-height 1

    /* section */
    &_section
        /* home */
        /* sections */
        &-depth-1
            padding 3em 0
            background-color darken($co-color-background, 40)
            color $co-color-tertiary

            a
                color $co-color-tertiary
                text-decoration underline

                &:hover
                    text-decoration none

        &-depth-2
            padding-top 9em

        &-depth-3
            padding-top 6em

        &-depth-4
            padding-top 4em

        /* headings */
        &-h1
            font-size 4.8em
            color $co-color-tertiary
            line-height 1

            strong
                font-size .25em
                color inherit

        &-h2
        &-home h1
            margin-top 0
            margin-bottom 1em
            border-bottom 1px solid $co-color-borders
            font-size 3.6em
            color $co-color-primary

        &-h3
        &-home h2
            font-size 2.1em

        &-h4
            font-size 1.8em

        &-ref
            display block
            color #666
            font-size 1.2rem
            text-transform uppercase

            &:before
                content 'section '

    /* subsection */
    &_subsection
        padding .5em 0

        &-title
            font-weight bold
            margin 0

            @media screen and (min-width: 48em)
                padding-right 1.5em
                text-align right

        &-content
            margin 0

            > p
            > ul
                margin 0
                padding-bottom 1.6rem

            > ul > li
                margin-left 1em

            p > code
                padding 0.05em .25em
                background-color lighten($co-color-background, 20)
                color $co-color-highlight

        &-demo
            padding-bottom .6rem
            border-bottom 1px solid $co-color-borders

    /* modifier */
    &_modifier
        > p
            padding-bottom 0

    /* colors */
    &_colors
        padding 0
        margin 0
        list-style none

        > li
            float left
            width 16em
            padding .25em
            margin 0 1em 1em 0
            border-radius .25em

        &-demo
            width 100%
            height 6em
            margin-bottom .25em
            border-radius .25em

        &-name
        &-hex
            margin-top 0
            background-color $co-color-body
            color $co-color-secondary
            text-align center

        &-name
            margin-bottom .25em

        &-hex
            font-size .9em
            text-transform uppercase
            color $co-color-primary

    /* icons */
    &_icons
        padding 0
        margin 0
        list-style none

        > li
            float left
            width 8em
            padding 1em .25em .25em
            margin 0 1em 1em 0
            border-radius .25em
            text-align center

        &-demo
            display block
            height 1.5em
            padding .25em
            margin-bottom .25em
            font-size 3em
            line-height @height

        &-name
            display block
            border-radius .25em
            background-color $co-color-body
            color $co-color-secondary

    /* symbols */
    &_symbols
        padding 0
        margin 0
        list-style none

        &-symbol
            float left
            width 8em
            padding 1em .25em .25em
            margin 0 1em 1em 0
            border-radius .25em
            text-align center

        &-demo
            display block
            padding .25em
            margin-bottom .25em

        &-name
            display block
            border-radius .25em
            background-color $co-color-body
            color $co-color-secondary

        &-group
            clear both
            float none
            margin 1em 0 2em

            > ul
                margin 1em 0
                border-bottom 1px solid $co-color-borders

            &-title
                padding 0 0 1.2rem
                font-weight bold
                font-size 1.4em
                border-bottom 1px solid $co-color-borders

    /* example */
    &_example-header
        color $co-color-secondary
        font-family 'Open Sans'
        font-size 1.5em
        font-style italic

    /* expand markup */
    &_expand
        position absolute
        z-index 2
        top 1px
        right 1px
        bottom 1px
        left 1px
        border-radius .25em
        background linear-gradient(to top, $co-color-tertiary, rgba($co-color-tertiary, .25))

        .btn
            position absolute
            z-index 2
            bottom 1em
            left 50%
            background-color rgba($co-color-primary, .25)
            color $co-color-tertiary
            font-size .7em
            transform translateX(-50%)
            transition background-color .2s

    /* table */
    &_table
        width 100%
        background-color $co-color-tertiary

        thead
            tr
                background-color $co-color-primary

        tbody
            tr:nth-child(2n + 1)
                background-color alpha($co-color-primary, .2)

    /* grid examples */
    &_grid-demo
        padding-bottom 2em

        [class^=g-col-]:empty:before
            content attr(class)
            display block
            padding 1em
            border 1px solid $co-color-body
            background-color alpha($co-color-primary, .2)
            text-align center


    /* markup */
    &_markup
        position relative

        pre
            position relative
            z-index 1
            max-height 4em
            margin-bottom 0
            overflow hidden
            transition max-height .3s

        &:hover
            cursor pointer

            .btn
                display block
                background-color $co-color-primary

        &-action
            display none

        &-expanded
            &:hover
                .btn
                    display block

            pre
                max-height 100em

                &:after
                    display none

            .btn
                display none

            .co_expand
                background none

        /* prettyprint.js */
        /* SPAN elements with the classes below are added by prettyprint. */
        .pln
            color #000   // plain text

        .str
            color #080   // string content

        .kwd
            color #008   // a keyword

        .com
            color #800   // a comment

        .typ
            color #606   // a type name

        .lit
            color #066   // a literal value

        /* punctuation, lisp open bracket, lisp close bracket */
        .pun,
        .opn,
        .clo
            color #660

        .tag
            color #008   // a markup tag name

        .atn
            color #606   // a markup attribute name

        .atv
            color #080   // a markup attribute value

        .dec,
        .var
            color #606   // a declaration a variable name

        .fun
            color red   // a function name

        /* Use higher contrast and text-weight for printable form. */
        @media print, projection
            .str
                color #060


            .kwd
                color #006
                font-weight bold

            .com
                color #600
                font-style italic

            .typ
                color #404
                font-weight bold

            .lit
                color #044

            .pun,
            .opn,
            .clo
                color #440

            .tag
                color #006
                font-weight bold

            .atn
                color #404

            .atv
                color #060

        /* Specify class=linenums on a pre to get line numbering */
        ol.linenums
            margin 0
            padding 0
            list-style-type none

    /* source */
    &_source
        color $co-color-highlight
        font-size .9em

    /* footer */
    &_footer.footerbar // stonger selector than colette
        border-color $co-color-borders
        background-color $co-color-primary


