// Alerts
//
// Default styles for alerts.
//
// Markup: alerts.twig
//
// .alert-info      - info alert
// .alert-success   - success alert
// .alert-warning   - warning alert
// .alert-error     - error alert
//
// Styleguide: Elements.Alerts
_alert(color)
    background-color lighten(desaturate(color, 10%), 90%)
    color color

.alert
    margin 0
    padding 1em
    border-radius .3em
    background-color $color-base-lighten
    color $color-base

    a
        text-decoration underline

        &:hover
            text-decoration none

    &-info
    &-success
    &-warning
    &-error
        a
            color currentColor

    &-info
        _alert($color-default)

    &-success
        _alert($color-success)

    &-warning
        _alert($color-warning)

    &-error
        _alert($color-error)

