// Avatar
//
// Use a square image.
//
// Markup: avatar.twig
//
// Styleguide: Elements.avatar
.avatar
    display inline-block
    vertical-align middle
    overflow hidden
    width 2.625em // 42px retative to 16px // TODO: use a convert (px to em) function
    height 2.625em // 42px retative to 16px // TODO: use a convert (px to em) function
    border-radius 80em // excessive value to keep it round
    background var(--color-borders)
    border 3px solid var(--color-borders)

    > img
    > svg
        display block
        width 100%
        height @width
        fill var(--color-base)

    > svg
        margin-top .05em // fix position of svg symbol-user
