// Buttons
//
// Colette comes with basic styles for call to action / buttons.
//
// .btn-line - btn lined
//
// Markup: btn.twig
//
// Styleguide Elements.Buttons
.btn
    _fontload($fontstack-secondary)
    display inline-block
    text-align center
    padding calc(.5em - 2px) calc(1.5em - 2px)
    border-radius 20em
    font-size .875em
    font-weight bold
    text-transform uppercase
    background-color $color-secondary
    border 2px solid $color-secondary
    transition background-color .2s ease, border-color .2s ease, color .2s ease
    color $color-base
    line-height 1.5em
    vertical-align baseline

    &-picto
        width .9em
        height .9em
        margin-bottom -.1em

        &-left
            margin-right .3em

        &-right
            margin-left .3em

    &:disabled
        opacity .5

    &:enabled
    &[href]
        &:hover
            background-color darken($color-secondary, 20%)
            border-color darken($color-secondary, 20%)

    &-line
        color $color-base
        background-color transparent
        border-color currentColor

        &:enabled
        &[href]
            &:hover
                color darken($color-base, 20%)
                background-color transparent
                border-color currentColor
