// Link with icon
//
// Colette comes with a basic style for a link associated with an SVG (placed in front of it).
//
// Markup: linkIcon.twig
//
// Styleguide: Elements.LinkIcon
.linkIcon
    background transparent

    svg
        display inline-block
        width 1em
        height @width
        margin 0
        vertical-align baseline

    &-label
        vertical-align top
