// Loading
//
// Loading animation is inspired from Tobias Ahlin's [Spinkit](http://tobiasahlin.com/spinkit) animations.
//
// Markup: loading.twig
//
// Styleguide Elements.Loading
.loading
    _m(0 auto)
    position relative
    text-align center
    width _rem(96px)
    height _rem(24px)
    color var(--color-base)
    {loading}

    &-small
        font-size .6em
