{% extends 'pager.twig' %}

{% block classes parent() ~ ' pager-withlist' %}

{% block count '' %}

{% block list %}
    <ul class="pager-list">
        {%- for i in firstPage..lastPage -%}
            <li>
                {%- if i == currentPage -%}
                    <strong><span class="mask">Current page: </span>{{ i }}</strong>
                {%- else -%}
                    <a href="#"><span class="mask">Page </span>{{ i }}</a>
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
{% endblock %}

