// Avatar
//
// Use a square image.
//
// Markup: avatar.twig
//
// Styleguide Elements.avatar
.avatar
    display inline-block
    vertical-align middle
    overflow hidden
    width 2.625em // 42px retative to 16px // TODO: use a convert (px to em) function
    height 2.625em // 42px retative to 16px // TODO: use a convert (px to em) function
    border-radius 80em // excessive value to keep it round
    background $color-borders
    border .2em solid $color-borders // 3px retative to 16px // TODO: use a convert (px to em) function

    > img
    > svg
        display block
        width 100%
        height @width
        fill $color-base

    > svg
        margin-top .05em // fix position of svg symbol-user
