// Icon
//
// .icon-default          - default color button
// .icon-sport            - sport color button
// .icon-entertainment    - entertainment color button
// .icon-economy          - economy color button
// .icon-community        - community color button
// .icon-weird            - weird color button
// .icon-partner          - partner color button
// .icon-planet           - planet color button
// .icon-media            - media color button
// .icon-hightech         - hightech color button
// .icon-native           - native color button
//
// Markup: icon.twig
//
// Styleguide Elements.Icons
.icon
    _fontload($font-secondary)
    display inline-block
    vertical-align top
    border-radius .5em
    padding .2em .3em
    text-align center
    font-size .6875em
    font-weight bold
    color inherit
    text-decoration none

    &-picto
        height 2.5em
        width 2.5em
        display block
        margin 0 auto
        fill currentColor
        padding 0 .2em

    &-label
        display block
        line-height 1em
        padding 0 .2em
        text-transform uppercase

    for key, value in $colors
        &-{key}
            background-color value
            color _contrast_choose(value, $color-white $color-black)

    &-inline
        text-align left

        .icon-picto
        .icon-label
            display inline-block
            vertical-align middle
