// Icon
//
// Button with icon and label.
//
// It can be styled by `btnSkin`
//
// .icon-inline - inline version
//
// Markup: icon.twig
//
// Styleguide Elements.Icons
.icon
    _fontload($fontstack-secondary)
    display inline-block
    vertical-align middle
    border-radius .5em
    padding .2em .3em
    text-align center
    font-size .6875em
    font-weight bold
    color inherit
    text-decoration none
    background-color transparent
    transition background-color .2s ease

    &-picto
        display block
        width 2.5em
        height 2.5em
        margin 0 auto
        fill currentColor

    &-label
        display block
        line-height 1em
        padding 0 .2em
        text-transform uppercase

    &-inline
        text-align left

        .icon-picto
        .icon-label
            display inline-block
            vertical-align middle


        .icon-picto
            margin 0 .2em

