// Loading
//
// Loading animation is inspired from Tobias Ahlin's [Spinkit](http://tobiasahlin.com/spinkit) animations.
//
// Markup: loading.twig
//
// Styleguide Elements.Loading
.loading
    position relative
    margin 0 auto
    text-align center
    width 9.6rem
    height 2.4rem
    color $color-base
    {loading}

    &-small
        font-size .6em
