// Modal
//
// Provide styles for a modal
//
// Markup: modal.twig
//
// Styleguide Elements.Modal
[data-a11y-dialog-native] > :first-child
    display none

.dialog[open]
    display block

.dialog-container[aria-hidden='true']
    display none

