// Modal
//
// Colette uses the accessible modal a11y-dialog (https://www.npmjs.com/package/a11y-dialog)
//
// Markup: modal.twig
//
// Styleguide Elements.Modal
.modal
    position fixed
    width 100%
    height 100%
    z-index: $zIndex.modal
    top 0
    left 0
    display flex
    align-items center
    justify-content center

    &[aria-hidden=true]
        display none

    &-overlay
        position absolute
        top -30%
        bottom -30% // These negative values avoid gap between address bar & overlay, on mobile, when address bar disappear
        left 0
        width 100%
        background rgba(0, 0, 0, .6)

    &-window
        -webkit-overflow-scrolling touch // enable iOs momentum-based scrolling
        position relative
        max-width 90%
        max-height 90%

        &.box
            overflow auto

    &-closebtn
        position absolute
        top _rem(10px)
        right _rem(10px)

        svg
            fill $color-white
            width _rem(12px)
            height _rem(12px)
            transform rotate(45deg)
