<a href="#" class="btnicon {{ modifier_class }} mr1">
    <svg height="16" width="16"><use xlink:href="#symbol-mail"></use></svg>
    <span class="mask">Call to action</span>
</a>
<button class="btnicon {{ modifier_class }} mr1" type="button">
    <svg height="16" width="16"><use xlink:href="#symbol-mail"></use></svg>
    <span class="mask">Button</span>
</button>
<button class="btnicon {{ modifier_class }}" disabled type="button">
    <svg height="16" width="16"><use xlink:href="#symbol-mail"></use></svg>
    <span class="mask">Button (disabled)</span>
</button>
