<form class="formSingleInput" action="#">
    <input class="formSingleInput-input" type="text" class="pl1 pr1" placeholder="Input field" />
    <button class="formSingleInput-btn {{ modifier_class }}" type="submit">
        <svg><use xlink:href="#symbol-search"></use></svg>
        <span class="mask">ok</span>
    </button>
</form>
