<span class="icon {{ modifier_class }}">
    <svg class="icon-picto"><use xlink:href="#symbol-newspaper"/></svg>
    <span class="icon-label">
        Newspaper
    </span>
</span>
<span class="icon icon-inline {{ modifier_class }}">
    <svg class="icon-picto"><use xlink:href="#symbol-newspaper"/></svg>
    <span class="icon-label">
        Newspaper<br />
        Paris
    </span>
</span>
