{##
 # Display media with video
 #
 # @param string   media
 #                 -> html
 # @param array    classes        Additional classes
 #}
{% extends 'media.twig' %}

{% block media_figure %}
    <div class="media-wrap media-wrap-video {{ modifier_class }}">{{ media.html|raw }}</div>
{% endblock %}
