<div class="pager" role="navigation">
    <button class="pager-prev" disabled="disabled">
        <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-left"></use></svg>
        <span class="mask">Previous</span>
    </button>
    <span class="pager-count">
        <span class="pager-current">1</span> on <span class="pager-max">4</span>
    </span>
    <button class="pager-next">
        <svg height="13" width="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#symbol-arrow-right"></use></svg>
        <span class="mask">Next</span>
    </button>
</div>
