// Contrast-check
//
// Returns true if constast is OK.
//
// Returns false and throws a warning message if it’s not.
//
// $foreground-color                    - text color to check
// $background-color = $color-white     - background color to compare
// $min = $contrast                     - minimum contrast ratio
//
// Styleguide Mixins.Contrast-check
_contrastCheck($foreground-color, $background-color = $color-white, $min = $contrast)
    $current-contrast = contrast($foreground-color, $background-color).ratio

    if $current-contrast < $min
        warn('contrast ratio ' + $current-contrast +' < ' + $min + ' 😥')
        return false
    else
        return true
