// FontLoad
//
// Write font-family and fallback if `$fontload-js` is `true`
//
// $family    - value of final `font-family` property (with custom font at fist place)
// $weight    - weight of font (by default current `font-weight` or `normal`)
// $style     - style of font (by default current `font-style` or `normal`)
//
// Styleguide Mixins.FontLoad
_fontload($family, $weight = @font-weight, $style = @font-style)
    $weight = $weight ? $weight : 'normal'
    $style = $style ? $style : 'normal'
    $family-fallback = clone($family)
    $font = shift($family-fallback)

    $classPostFix = replace(' ', '', $font)

    if ($weight)
        $classPostFix = $classPostFix + '-' + $weight

    if ($style)
        $classPostFix = $classPostFix + '-' + $style

    if ($fontload-js)
        font-family $family-fallback

        .wf-{$classPostFix} &
            font-family $family

        @supports (font-display $fontload)
            font-family $family
    else
        font-family $family
