// Gutter To Rem
//
// This function returns a size in `rem` based on `$gutter` value.
//
// ```
// /* my_file.styl */
// $gutter = 20px // overrides colette's default value
// gutterToRem(1)
// ```
// will compile to
// ```
// /* my_file.css */
// 2rem
// ```
//
// $i   - multiplier of `$gutter`
//
// Styleguide Mixins.gutterToRem
gutterToRem(i)
    return i * $gutter * .1rem
