// Mask
//
// Hides text but keeps it readable for screen-readers.
//
// $important = false - If set to `true`, makes all rules `!important`
//
// Styleguide Mixins.mask
_mask($important = false)
    $important = $important ? !important : null // @stylint ignore
    position absolute $important
    clip rect(1px, 1px, 1px, 1px) $important // hide first pixel
    clip-path inset(50%) $important // clip is deprecated, clip-path is future
    padding 0 $important
    border 0 $important
    width 1px $important
    height 1px $important
    overflow hidden $important
    white-space nowrap $important
