// Spaces
//
// Spaces mixins return `margin` and `padding` properties based on a multiple of the `$grid-gutter` size.
// <br /> Note that `$grid-gutter` value is defined in Colette's settings, but it can be overridden in your project stylus file.
//
// Styleguide Mixins.Spaces

@require '_map'

_gutters(i)
    return i * _rem($grid-gutter)

// _p()
//
// Returns a `padding` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// .one-argument
//     _p(1)
//
// .multiple-arguments
//     _p(1 2 3 4)
// ```
// will compile to
// ```
// /* my_file.css */
// .one-argument {
//     padding: 2rem;
// }
//
// .multiple-arguments {
//     padding: 2rem 4rem 6rem 8rem;
// }
// ```
//
// args   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.pa
_p(values)
    if length(values) > 4
        warn('_p can only receive a list of 4 numbers max')
    padding map(values, _gutters)


// _pt()
//
// Returns a `padding-top` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _pt(1)
// ```
// will compile to
// ```
// /* my_file.css */
// padding-top: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.pt
_pt(i)
    padding-top _gutters(i)


// _pr()
//
// Returns a `padding-right` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _pr(1)
// ```
// will compile to
// ```
// /* my_file.css */
// padding-right: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.pr
_pr(i)
    padding-right _gutters(i)


// _pb()
//
// Returns a `padding-bottom` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _pb(1)
// ```
// will compile to
// ```
// /* my_file.css */
// padding-bottom: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.pb
_pb(i)
    padding-bottom _gutters(i)


// _pl()
//
// Returns a `padding-left` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _pl(1)
// ```
// will compile to
// ```
// /* my_file.css */
// padding-left: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.pl
_pl(i)
    padding-left _gutters(i)


// _m()
//
// Returns a `margin` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// .one-argument
//     _m(1)
//
// .multiple-arguments
//     _m(1 2 3 4)
// ```
// will compile to
// ```
// /* my_file.css */
// .one-argument {
//     margin: 2rem;
// }
//
// .multiple-arguments {
//     margin: 2rem 4rem 6rem 8rem;
// }
// ```
//
// args   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.ma
_m(values)
    if length(values) > 4
        warn('_m can only receive a list of 4 numbers max')
    margin map(values, _gutters)


// _mt()
//
// Returns a `margin-top` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _mt(1)
// ```
// will compile to
// ```
// /* my_file.css */
// margin-top: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.mt
_mt(i)
    margin-top _gutters(i)


// _mr()
//
// Returns a `margin-right` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _mr(1)
// ```
// will compile to
// ```
// /* my_file.css */
// margin-right: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.mr
_mr(i)
    margin-right _gutters(i)


// _mb()
//
// Returns a `margin-bottom` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _mb(1)
// ```
// will compile to
// ```
// /* my_file.css */
// margin-bottom: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.mb
_mb(i)
    margin-bottom _gutters(i)


// _ml()
//
// Returns a `margin-left` based on `$grid-gutter` value.
// ```
// /* my_file.styl */
// $grid-gutter = 2rem // overrides colette's default value
// _ml(1)
// ```
// will compile to
// ```
// /* my_file.css */
// margin-left: 2rem;
// ```
//
// $i   - multiplier of `$grid-gutter`
//
// Styleguide Mixins.Spaces.ml
_ml(i)
    margin-left _gutters(i)
