@charset 'utf-8'

use('stylus-svg/index.js')

// Design
//
// Every design rules and assets, colors, icons, etc.
//
// Weight: 1
//
// Styleguide: Design

// Settings
//
// Weight: 10
//
// Styleguide: Settings
@require '_settings/*'

// Mixins & functions
//
// Stylus utils.
//
// Weight: 12
//
// Styleguide: Mixins
@require '_mixins/*'

// @blocks
//
// [Stylus @block](http://stylus-lang.com/docs/block.html) let you assign any block of code to a variable and then call it, pass as an argument or reuse in any other way.
// Colette takes avantage of this feature to define common and reusable pieces of CSS code.
//
// Weight: 13
//
// Styleguide @blocks
@require '_@blocks/*'

// Animation keyframes
//
// Every animation keyframes
//
// Weight: 14
//
// Styleguide: Animations
@require '_animations/*'

// normalize
@require 'normalize.css/normalize.css'

// style html native elements
@require '_base/*'

// Layout
//
// Sets of classe to manage layout and organize components on the page.
//
// Weight: 5
//
// Styleguide: Layout
@require '_layouts/*'

// Elements
//
// Every littles UI elements.
//
// Weight: 2
//
// Styleguide: Elements
@require '_elements/*'

// Components
//
// More complex elements composed or able to contains some others elements.
//
// Weight: 3
//
// Styleguide: Components
@require '_components/*'

// Theme
//
// Super class able to modify apparence of some components or elements.
//
// Weight: 6
//
// Styleguide: Theme
@require '_themes/*'

// Helpers
//
// Small classe to manage details in the page.
//
// Weight: 4
//
// Styleguide: Helpers
@require '_helpers/*'
