// Buttons transparent skin
//
// Useful in "Form single input"
//
// .btnSkin-transparent - transparent button
//
// Markup: ../_elements/.twig

.btnSkin
  &-transparent
    // TODO : replace when we drop support of IE
    // --btn-color transparent
    // --btn-text-color var(--color-secondary)
    // IE support for colors : replace when we drop support of IE
    background-color transparent
    border-color transparent
    color var(--color-secondary)
