// Block link skin
//
// Add a style on the teaser of a content preview.
//
// Note that the `.blockLinkSkin-#` class is applied on a content preview selector which must contain a `.teaser` child
//
// .blockLinkSkin-communication - Teaser summary background color: native yellow
// .blockLinkSkin-brand         - Block article background color: native yellow
//
// Markup: skin.twig
//
// Styleguide Theme.BlockLinkSkin
.blockLinkSkin
    &-communication
        .teaser-summary
            background-color $color-native

    &-brand
        &.box
            background-color $color-native
