
// Buttons skins
//
// All editorial colors are available to style the button according to its context.
//
// Text color is choosen for contrast between white and black.
// But `native` and `snapchat` buttons have text in `$color-base`.
//
// This skin can be used on `.btn`, `.btnIcon` and `.icon`.
//
// .btnSkin-default          - default color button
// .btnSkin-sport            - sport color button
// .btnSkin-entertainment    - entertainment color button
// .btnSkin-economy          - economy color button
// .btnSkin-community        - community color button
// .btnSkin-weird            - weird color button
// .btnSkin-partner          - partner color button
// .btnSkin-planet           - planet color button
// .btnSkin-media            - media color button
// .btnSkin-hightech         - hightech color button
//
// Markup: ./btnSkin.twig
//
// Styleguide Theme.Buttons

// Buttons transparent skin
//
// Useful in "Form single input"
//
// .btnSkin-transparent - transparent button
//
// Markup: ../_elements/.twig

// Default Social Buttons skin
//
// All social colors are available to style the button according to its context.
//
// Social Button skins can be used with `.btn` and `.btnIcon`
// They are not compatible with `.btn-line`
//
// .btnSkin-dailymotion      - dailymotion color button
// .btnSkin-facebook         - facebook color button
// .btnSkin-flipboard        - flipboard color button
// .btnSkin-github           - github color button
// .btnSkin-googleplus       - googleplus color button
// .btnSkin-hootsuite        - hootsuite color button
// .btnSkin-linkedin         - linkedin color button
// .btnSkin-messenger        - messenger color button
// .btnSkin-pinterest        - pinterest color button
// .btnSkin-pocket           - pocket color button
// .btnSkin-sms              - sms color button
// .btnSkin-snapchat         - snapchat color button
// .btnSkin-twitter          - twitter color button
// .btnSkin-whatsapp         - whatsapp color button
// .btnSkin-youtube          - youtube color button
//
// Markup: ./btnSkin-socials.twig
//
// Weight: 1
//
// Styleguide Theme.Buttons.Socials

.btnSkin
    for key, value in $colors
        &-{key}
            // TODO: 2 as contrast ratio is not enough but we should change some colors to fix it
            color _contrast_choose(value, $color-white $color-base, 2)
            border-color value
            background-color value

            &:enabled
            &[href]
                &:hover
                    background-color darken(value, 20%)
                    border-color darken(value, 20%)

            &.btn-line
                color value
                border-color currentColor
                background-color transparent

                &:enabled
                &[href]
                    &:hover
                        color darken(value, 20%)
                        border-color currentColor
                        background-color transparent

    // social btn should not used with `.btn-line`
    for key, value in $colors-socials
        &-{key}
            // TODO: 2 as contrast ratio is not enough but we should change some colors to fix it
            color _contrast_choose(value, $color-white $color-base, 2)
            background-color value
            border-color value

            &:enabled
            &[href]
                &:hover
                    background-color darken(value, 20%)
                    border-color darken(value, 20%)

    &-transparent
        color $color-tertiary
        background-color transparent
        border-color transparent

        &:enabled
        &[href]
            &:hover
                color darken($color-tertiary, 20%)
                background-color transparent
                border-color transparent
